<!-- <p>dashboard works!</p> -->
<app-admin-header [pageName]="'FAQs'" ></app-admin-header>
<div class="content">
    <div class="inner-dashbaord  pt-3">
      <div class="shippment-form-card">
        <div class="row">
          <div class="col-lg-4 col-xl-3 help-search">
            <div>
              <img *ngIf="!search" src="../../../../assets/images/search.svg" class="searching-icon1" />
              <form-field>
                <input type="text" [(ngModel)]="search" type="text" (keyup)="searchFaq();" placeholder="How can we help you?" class="form-control font-family" />
                <img class="form-append" *ngIf="search" (click)="search = '';getFaqList();" src="../../../../assets/images/close-icon.svg" />
              </form-field>
            </div>
          </div>
          <div class="col-lg-6 col-xl-2 justify-center pr-2 butn-display ml-auto">
            <button class="theme-btn orange ml-1 create-shipment" (click)="AddQuestion('')">+ Add Question</button>
        </div>
        </div>
        <div class="help-list faq col-lg-9" *ngIf="faqList && faqList.length>0 && !isLoading">
          <mat-accordion >
            <!-- <mat-expansion-panel hideToggle expanded="{{i==0}}" *ngFor="let data of faqList; index as i">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="color-tab">{{i+1}}.
                  </span> {{data?.question}}?
                  <span class="icon-edit" (click)="AddQuestion(data);$event.stopPropagation()"><img src="../../../../assets/images/admin/edit-icon.svg"></span>
                  <span class="icon-edit"(click)="deleteFaq(data?.id);$event.stopPropagation()" ><img src="../../../../assets/images/admin/delete-icon.svg"></span>
                </mat-panel-title>

              </mat-expansion-panel-header>
              <p>{{data?.answer}}</p>
              <hr/>
            </mat-expansion-panel> -->
            <mat-expansion-panel hideToggle expanded="{{i==0}}" *ngFor="let data of faqList; index as i">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="color-tab">{{i+1}}.
                  </span> {{data?.question}}?
                  <span class="icon-edit" (click)="AddQuestion(data);$event.stopPropagation()"><img src="../../../../assets/images/admin/edit-icon.svg"></span>
                  <span class="icon-edit"(click)="deleteFaq(data?.id);$event.stopPropagation()" ><img src="../../../../assets/images/admin/delete-icon.svg"></span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>{{data?.answer}}</p>
              <hr/>
            </mat-expansion-panel>
          </mat-accordion>

        </div>
        <div class="noRequest" *ngIf="faqList && faqList.length==0 && !isLoading" >
          No FAQ Found
        </div>
      </div>
    </div>
    <!-- <pagination *ngIf="faqList && faqList.length>0 && !isLoading"
    [(pageNo)]="pageNo"
    [(pageSize)]="pageSize"
    (page)="getFaqList()"
    [totalRecords]="totalRecords || 0"
  ></pagination> -->
  <!-- <pagination
        [(pageNo)]="pageNo"
        [(pageSize)]="pageSize"
        (page)="getFaqList()"
        [totalRecords]="totalRecords || 0"
      ></pagination> -->
  </div>
