.pagination {
  display: flex;
  width: 83%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px -5px 6px #0000001a;
  padding: 9px 36px;
  font-size: 13px;
  align-items: center;
  // font-weight: 600;
  .left {
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .right {
    margin: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
}
.item-bg {
  background-color: #d13239;
  color: #fff;
  border-radius: 4px;
  padding: 5px 6px;
}
:host::ng-deep.mat-select {
  background-color: #d13239;
  color: white;
  // width: 30px;
  border-radius: 4px;
  padding: 3px 6px;
  // font-weight: 500;
}
:host::ng-deep.mat-select-value-text {
  color: #fff;
  // width: 20px!important;
}
.down {
  position: absolute;
  right: 8px;
  top: 9px;
}
:host::ng-deep .mat-select-placeholder {
  color: #fff !important;
}
:host::ng-deep.mat-select-value {
  text-align: center;
  width: 30px !important;
}
:host::ng-deep.mat-select-arrow {
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-top: 0px;
  margin: 0 0px;
}
