<section class="bg-info">
    <div class="row justify-between-md-center">
        <div class="col-lg-3 pl-2"><img  src="../../../../assets/images/newLogo4.png" alt="" class="img-logo1" /></div>
        <div  class="col-lg-6 mt-3">
            <div  class="text-center font-36 fw-6">Forward <span  class="getStarted font-600">Mail</span></div>
        </div>
    </div>
    <div class="row justify-content-md-center pb-5">
        <div  class="col-lg-7 col-sm-12 col-md-7  px-3 mt-2">
            <div  class="mt-2">
                <form  class="white-form-card">
                    <div  class="row">
                        <div  class="col-lg-12 pt-4 justify-between-md-center h-pickup text-center"><img  src="../../../../assets/images/forwardmail.svg" /></div>
                        <div  class="col-lg-7 offset-lg-2 pt-4 justify-between-md-center ">
                            <p  class="pt-3 font-500 text-center">Shipping charges for forwarding this mail :</p>
                            <mat-radio-group
                            aria-labelledby="example-radio-group-label"
                            class="example-radio-group">
                            <section class="checbox-section cards forward-last" *ngIf="this.forwardRequestDetail?.forwardMailCharges?.fiveToSevenDays">
                                <mat-radio-button (change)="planSelected($event)" value="1" class="card-mat">
                                    <span>
                                        5-7 days delivery at $ {{this.forwardRequestDetail?.forwardMailCharges?.fiveToSevenDays}}
                                    </span>
                                </mat-radio-button>
                            </section>
                            <section class="checbox-section cards forward-last" *ngIf="this.forwardRequestDetail?.forwardMailCharges?.threeToFourDays">
                                <mat-radio-button (change)="planSelected($event)" value="2" class="card-mat">
                                    <span>
                                        3-4 days delivery at $ {{this.forwardRequestDetail?.forwardMailCharges?.threeToFourDays}}
                                    </span>
                                </mat-radio-button>
                            </section>
                            <section class="checbox-section cards forward-last"  *ngIf="forwardRequestDetail?.forwardMailCharges?.twoToThreeDays">
                                <mat-radio-button (change)="planSelected($event)" value="3" class="card-mat">
                                    <span>
                                        2-3 days delivery at $ {{this.forwardRequestDetail?.forwardMailCharges?.twoToThreeDays}}
                                    </span>
                                </mat-radio-button>
                            </section>
                            <section class="checbox-section cards forward-last " *ngIf="this.forwardRequestDetail?.forwardMailCharges?.oneDayDays">
                                <mat-radio-button (change)="planSelected($event)" value="4" class="card-mat">
                                    <span>
                                        1 day delivery at $ {{this.forwardRequestDetail?.forwardMailCharges?.oneDayDays}}
                                    </span>
                                </mat-radio-button>
                            </section>
                            <section class="checbox-section cards forward-last " *ngIf="this.forwardRequestDetail?.forwardMailCharges?.SameDayDelivery">
                                <mat-radio-button (change)="planSelected($event)" value="5" class="card-mat">
                                    <span>
                                        Same day delivery at $ {{this.forwardRequestDetail?.forwardMailCharges?.SameDayDelivery}}
                                    </span>
                                </mat-radio-button>
                            </section>
                        </mat-radio-group>
                            <div  class="justify-center mt-4 mb-3">
                                <button class="theme-btn white-btn mr-2 back-red" routerLink="/client/inbox" >Back</button>
                                <button class="theme-btn red ml-2" (click)="selectDays()">Confirm</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
