<section class="bg-info">
    <div class="d-none" [class.loading]="isloading">
        <mat-progress-spinner
        *ngIf="isloading"
          class="loader"
          [color]="'warn'"
          [mode]="'indeterminate'"
          [value]="'30'"
          stroke="f44336"
        >
        </mat-progress-spinner>
      </div>
    <div class="row justify-between">
        <div class="col-lg-2 pl-2">
            <img class="img-logo1" src="../../../../assets/images/newLogo4.png" alt="" />
        </div>

        <div class="col-lg-6 mt-3 order-2 create-ship">
            <div class="text-center font-36 fw-6">Create New <span class="getStarted font-600">Shipment</span></div>
            <div class="text-center font-16 l-black">
                Please add your Shipment details
            </div>
        </div>
        <div class="col-lg-1 d-flex order-3 close-file">
            <!-- <div class="file">
                <img src="../../../../assets/images/file-layer.svg" />
            </div> -->
            <div class="close" routerLink="/client/dashboard">
                <img src="../../../../assets/images/ic_sidemenu.svg" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 px-3">
            <div class="mt-2 info-page">
                <div class="d-flex">
                    <p class="float-right pack-info">Arrival Preferences</p>
                    <p class="per float-right">80%</p>
                </div>
                <mat-progress-bar color="warn" mode="determinate" value="80"></mat-progress-bar>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center pb-5">
        <div class="col-lg-12 px-3 mt-2">
            <div class="mt-2">
                <form class="white-form-card">
                    <!-- <div class="row d-none">
                        <div class="col-lg-5 float-left"><p class="scondry-color">Shipping Date & Arrival</p></div>
                        <div class="col-lg-3 cler justify-content-md-center">
                            <div>
                                <label class="l-black fw-5 font-14">Shipment Date  <span _ngcontent-icd-c307="" class="package price-card"><img _ngcontent-icd-c307="" src="../../../../assets/images/tooltip-icon1.svg"></span></label>
                               <div class="selsect-date">
                                <input
                                type="text"
                                (click)="startDate.open()"
                                readonly
                                placeholder="Select Date"
                                [matDatepicker]="startDate"
                                class="form-control"
                              />
                              <img
                                class="form-append mr-2"
                                (click)="startDate.open()"
                                src="../../../../assets/images/calender.svg"
                                alt=""
                              />
                              <mat-datepicker #startDate></mat-datepicker>
                            </div>
                        </div>
                        </div>
                    </div> -->
                    <div class="shipping">
                        <div class="card-main servicelist">
                            <div ><p>Select Service
                                <span class="package"><img  matTooltip="Info about the action"
                                    matTooltipPosition="right"
                                    aria-label="Button that displays a tooltip when focused or hovered over"
                                        src="../../../../assets/images/tooltip-icon1.svg" /></span
                                >
                            </p></div>
                            <div class="chooseList">
                                <div class="text-center radioButton">
                                    <mat-radio-group
                                      aria-label="Select an option"
                                      (change)="serviceChange($event)"
                                      [(ngModel)]="planType"
                                    >
                                      <mat-radio-button
                                        [checked]="planType == 'all'"
                                        color="warn"
                                        class="mx-2"
                                        value="All"
                                        >All</mat-radio-button
                                      >
                                      <mat-radio-button
                                        [checked]="planType == 'fedEx'"
                                        color="warn"
                                        class="mx-2"
                                        value="fedEx"
                                        >FEDEX</mat-radio-button
                                      >
                                      <mat-radio-button
                                        [checked]="planType == 'ups'"
                                        color="warn"
                                        class="mx-2"
                                        value="ups"
                                        >UPS</mat-radio-button
                                      >
                                    </mat-radio-group>
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 pr-3 py-3 arrival-shipment" *ngFor=" let data of ShipmentServices" [ngClass]="data?.services && data?.services?.length > 0?'':'d-none'">
                                <div class="card servicesCard" *ngIf="data?.services && data?.services?.length > 0">
                                <div class="card-header" [ngClass]="data.name=='Over Night'?'day1':(data.name=='3 day Service'?'day3':(data.name=='2 Day Service'?'day2':'day4'))" >
                                    <div class="card-detail ">
                                        <span class="chcek-b1"><img [src]="data.name=='Over Night'?'../../../../assets/images/1-icon.svg':(data.name=='3 day Service'?'../../../../assets/images/3-icon.svg':(data.name=='2 Day Service'?'../../../../assets/images/2-icon.svg':'../../../../assets/images/4-icon.svg'))"></span> <p class="day-service">{{data.name | titlecase}}</p>
                                        <span class="estimated-arrival">Estimated Arrival {{data?.services[0]?.day}}</span>
                                    </div>
                                </div>
                                <!-- <div class="card-inner d-none">
                                    <div class="reb-inner">
                                    <div class="dayService">
                                        <span class="font-family">1 Day Service</span>
                                        <span class="font-time">10:30 AM</span>
                                    </div>
                                    <div class="dayprice float-right">
                                        <p>490<span>$</span></p>
                                    </div>
                                    <div class="ribbon ribbon-top-right"><span>Preferred</span></div>
                                </div>
                                </div> -->
                                <div class="card-inner1 d-flex basline" (click)="selectService(items)"  [ngClass]="this.selectedService?.serviceType == items.serviceType ? 'selected' :''" *ngFor="let items of data?.services">
                                    <div class="dayService">
                                        <!-- <span class="services font-family">{{data?.name}}</span> -->
                                        <span class="services font-family">{{items?.serviceName}}</span>
                                        <!-- <span class="services font-family">{{items?.serviceName}}</span>
                                        <span class="font-time">{{items?.time}}</span> -->
                                    </div>
                                    <div class="dayprice">
                                        <!-- <p><span>$</span>{{items?.shipmentPrice}}</p> -->
                                        <p><span>{{items?.time}}</span></p>
                                    </div>
                                </div>
                                <!-- <div class="card-inner1 d-none">
                                    <div class="dayService">
                                        <span class="font-family">1 Day Service</span>
                                        <span class="font-time">10:30 AM</span>
                                    </div>
                                    <div class="dayprice float-right">
                                        <p>490<span>$</span></p>
                                    </div>
                                </div> -->
                                </div>
                            </div>

                            <!-- </div> -->
                        </div>
                        <div class="justify-center mt-4">
                            <button class="theme-btn white-btn mr-2 back-red " (click)="goBack()" >Back</button>
                            <button class="theme-btn red ml-2" (click)="submit()">Next</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
