.selected{
    border: 1px solid #d33d44 !important;
}
span.services.font-family {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-inner1 {
    justify-content: space-between;
}
.dayprice p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
  line-height: 40px;

}
.servicesCard{
    min-height: 420px;
    max-height: 420px;
    overflow-y: scroll;
    }
    .card-inner1.basline {
      align-items: baseline;height: 75px;

  }
  .services.font-family{
    font-size: 18px!important;font-weight:500 ;
  }
.servicelist{
  display: flex;
  justify-content: space-between;
}