<!-- <p>dashboard works!</p> -->
<app-admin-header [pageName]="'Carrier'" ></app-admin-header>
<div class="content ">
    <div class="inner-dashbaord pt-3">
        <div class="shippment-form-card ">
            <div class="row">
                <div class="col-lg-6  col-xl-3 pr-2 pl-2 padding-l">
                    <div>
                        <img src="../../../../assets/images/search.svg" class="searching-icon" />
                        <form-field>
                            <input type="text" placeholder="Searching..." class="form-control font-family" />
                        </form-field>
                    </div>
                </div>   
                <div class="col-lg-6 col-xl-2 justify-center pr-2 butn-display ml-auto">                    
                    <button class="theme-btn orange ml-1 create-shipment" (click)="Addnewcarrier()">+ Add Carrier</button>
                </div>           
            </div>

            <div class="row">
                <div class="col-12 tble-res">
                    <table class="table table-responsive address-table ">
                        <tr>
                            <th>Carrier Name</th>
                            <th>Logo</th>
                            <th>Service Cost</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr>
                        <tr class="active ">
                            <td>Fed Ex</td>
                            <td><span class="fed-logo"><img src="../../../../assets/images/admin/fedex.png"></span></td>
                            <td class="font-600">--</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><img [matMenuTriggerFor]="menu" src="../../../../assets/images/dots.svg" />
                                <mat-menu xPosition="before" #menu="matMenu">
                                    <button class="font-10  mat-menu-item">
                                        Edit
                                    </button>
                                    <button class="font-10  mat-menu-item">Delete</button>
                                </mat-menu></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>