<div class="row">
    <div class="col-lg-12 justify-between-md-center pt-3">
        <h3 class="text-center font-16 font-500">Would you like to select more mail?</h3>
    </div>
</div>

<div class="row justify-center mt-5 pt-2">
    <div class="justify-center">
        <button class="theme-btn white-btn mr-2 back-red" routerLink="/client/inbox">No</button>
        <button class="theme-btn red ml-2" routerLink="/client/inbox">Yes</button>
    </div>
</div>
<div class="row">
<div class="checbox-section pt-2 mt-2 ">
    <mat-checkbox class="example-margin Residential">
        Click here if you don't want to see this again
       
    </mat-checkbox>
</div>
</div>
