<!-- 
<section class="main-padding">
  <div class="row justify-between">
    <div class="col-2 pl-2">
      <img
      class="img-logo1"
        src="../../../../assets/images/newLogo4.png"
        alt=""
      />
       </div>
       <div class="col-2 text-right pr-3">
        <div>
          <button class="theme-btn border-red contactBtn">Contact Us</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5"> 
      <div class="form form-width">
        <div class="align-center font-14 cursor mb-3" routerLink="/login">
            <img class="mr-2" width="16px" src="../../../../assets/images/back-arrow.svg" alt=""> Back
        </div>
      <div class="font-40 fw-6 topText">
         
         Forgot <span class="getStarted">Password</span> 
  
      </div>
      <div class="font-14 my-3 l-black ">Forgot your password? That's ok, it happens. <br> Click on the button below to reset your password.</div>
 
      <form class="mt-3" [formGroup]="forgot">
        <label class="l-black font-14">Email Address</label>
        <form-field [errorControl]="forgot.get('email')" name="email">
          <input
            type="text"
            class="form-control forgot-pass"
            formControlName="email"
            placeholder="Email address"
          />
        </form-field>
      </form>
     
 
      <footer class="text-center mt-5">
        <button class="theme-btn red signupbtn" (click)="next()">Done <mat-spinner
          [diameter]="18"
          class="ml-2"
          [strokeWidth]="1"
          *ngIf="isLoading"
        ></mat-spinner></button>
      </footer>

    </div>
    </div>
    <div class="col-7 ">  
      <div class="watch-video">
        <img src="../../../../assets/images/mobile-4-2.png" class="img-fluid d-block mx-auto mobile-img" alt="">          
       <div class="video video-wrapper rad grdnt-orang">
      
        <video autoplay controls loop>
        <source src="https://shipdistrict-prod.s3.us-west-2.amazonaws.com/shipdistrict/cd411f2114b45ef2c6ceb27290c7d8f54118a615.mp4" type="video/mp4">
         
          </video>
       </div>
   </div>
  </div>
    </div>
   </section> -->

   <div class="bg-video-wrap">
    <div class="header">
    <div class="row justify-between">
      <div class="col-2 pl-2">
        <img
          class="img-logo-1"
          src="../../../../assets/images/newLogo5.png"
          alt=""
        />
      </div>
      <div class="col-2 text-right pr-3">
        <div>
          <button class="theme-btn border-white contactBtn"><a href="tel:+123456890">Contact Us </a></button>
        </div>
      </div>
    </div>
  </div>
  <video autoplay loop>
    <source
      src="https://shipdistrict-prod.s3.us-west-2.amazonaws.com/shipdistrict/cd411f2114b45ef2c6ceb27290c7d8f54118a615.mp4"
      type="video/mp4"
    />
  </video>
  <div class="row form-login">
    <div class="col-lg-12">
      <div class="form form-width">
       
        <div class="align-center font-14 cursor mb-3" routerLink="/login">
          <img class="mr-2" width="16px" src="../../../../assets/images/back-arrow.svg" alt=""> Back
      </div>
      
        <div class="font-40 fw-6 topText">
         
          Forgot <span class="getStarted">Password</span> 
   
       </div>
       <div class="font-14 my-3 l-black ">Forgot your password? That's ok, it happens. <br> Click on the button below to reset your password.</div>
 
       <form class="mt-3" [formGroup]="forgot">
         <label class="l-black font-14">Email Address</label>
         <form-field [errorControl]="forgot.get('email')" name="email">
           <input
             type="text"
             class="form-control forgot-pass"
             formControlName="email"
             placeholder="Email address"
           />
         </form-field>
       </form>
          
 
      <footer class="text-center mt-5">
        <button class="theme-btn red signupbtn" (click)="next()">Done <mat-spinner
          [diameter]="18"
          class="ml-2"
          [strokeWidth]="1"
          *ngIf="isLoading"
        ></mat-spinner></button>
      </footer>

    </div>
        </div>
        </div>
  </div>