

.account{
    margin-top: 60px;
}
.topText{
    line-height: 42px;
}


 .contactBtn{
    position: absolute;
    top: 20px;
    right: 20px;
    /* width: 140px !important;
    height: 42px !important; */
}
button.theme-btn.border-white.contactBtn > a {
    color: #fff;
    text-decoration: none;
}
