<section class="bg-info">
    <div class="row justify-between">
      <div class="col-lg-2 pl-2">
        <img
          class="img-logo1"
          src="../../../../assets/images/newLogo4.png"
          alt=""
        />
      </div>
      <div class="col-lg-6 mt-3 order-2">
        <div class="text-center font-36 fw-6">
          Create New <span class="getStarted font-600">Address</span>
        </div>
        <div class="text-center font-16 l-black">
          Please add new Address
        </div>
      </div>
  
      <div class="col-lg-1 text-right pr-3 order-3 icon-fil-dwon">
        <!-- <div class="file">
          <img src="../../../../assets/images/file-layer.svg" />
        </div>
        <div class="close" routerLink="/client/dashboard">
          <img src="../../../../assets/images/ic_sidemenu.svg" />
        </div> -->
      </div>
    </div>
  
    <div class="d-none" [class.loading]="isloading">
      <mat-progress-spinner
      *ngIf="isloading"
        class="loader"
        [color]="'warn'"
        [mode]="'indeterminate'"
        [value]="'30'"
        stroke="f44336"
      >
      </mat-progress-spinner>
    </div>
    <div class="row justify-content-md-center pb-5">
      <div class="col-lg-12 px-3 mt-2">
        <div class="mt-2">
          <form class="white-form-card" [formGroup]="senderAddressForm">
            <div class="row">
              <!-- <div class="col-lg-4 float-left">
                <p class="scondry-color">
                  {{ addressType | titlecase }} Information
                </p>
              </div> -->
              <!-- <div class="row">
                <div class="col-lg-12 px-3"> -->
                  <div class="mt-2 info-page">
                    <div class="d-flex">
                      <p class="float-right pack-info">
                         Address Details
                      </p>
                  </div>
                <!-- </div>
              </div> -->
              </div>
              <div class="col-lg-4 float-left">
                <!-- <div class="row">
                  <div class="col-lg-8 offset-lg-2">
                    <div class="text-center" *ngIf="addressType == 'sender'">
                      <label class="fw-5 fw-6 font-14"
                        >Shipment Date
                        <span _ngcontent-icd-c307="" class="package price-card"
                          ><img
                            _ngcontent-icd-c307=""
                            src="../../../../assets/images/tooltip-icon1.svg" /></span
                      ></label>
                      <form-field
                        class="w-100 cursor"
                        [errorControl]="senderAddressForm.get('shipDate')"
                        name="Date"
                      >
                        <input
                          formControlName="shipDate"
                          (click)="picker.open()"
                          [placeholder]="' Select Date'"
                          [matDatepicker]="picker"
                          type="text"
                          [min]="minDate"
                          class="form-control cursor"
                        />
                        <img
                          class="form-append mr-2"
                          (click)="picker.open()"
                          src="../../../../assets/images/calender.svg"
                          alt=""
                        />
                        <mat-datepicker #picker></mat-datepicker>
                      </form-field>
                    </div>
                  </div>
                </div> -->
              </div>
              <div class="col-lg-4 cler float-right">
                <!-- <p class="clearForm" (click)="resetForm()">Clear</p> -->
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 pr-3">
                <div>
                  <label class="fw-5 font-14">Name</label>
                  <!-- <img
                    src="../../../../assets/images/search.svg"
                    class="search-icon"
                  /> -->
                  <form-field
                    [errorControl]="senderAddressForm.get('name')"
                    name="name"
                  >
                    <input
                      type="text"
                      formControlName="name"
                      placeholder="Please enter name"
                      class="form-control font-family"
                    />
                  </form-field>
                </div>
              </div>
              <div class="col-lg-4 pr-3">
                <div>
                  <label class="fw-5 font-14">Company Name</label>
                  <form-field
                    [errorControl]="senderAddressForm.get('companyName')"
                    name="companyName"
                  >
                    <input
                      type="text"
                      formControlName="companyName"
                      placeholder="Company Name"
                      class="form-control font-family"
                    />
                  </form-field>
                </div>
              </div>
              <div class="col-lg-4 pr-3">
                <div>
                  <label class="fw-5 font-14">Email Address</label>
                  <form-field
                    [errorControl]="senderAddressForm.get('email')"
                    name="email"
                  >
                    <input
                      type="text"
                      formControlName="email"
                      placeholder="Email Address"
                      class="form-control font-family"
                    />
                  </form-field>
                </div>
              </div>
  
              <div class="col-lg-4 pr-3">
                <div>
                  <label class="fw-5 font-14">Address 1</label>
                  <form-field
                    [errorControl]="senderAddressForm.get('address1')"
                    name="address1"
                  >
                    <input
                      type="text"
                      formControlName="address1"
                      placeholder="Address 1"
                      class="form-control font-family"
                    />
                  </form-field>
                </div>
              </div>
  
              <div class="col-lg-4 pr-3">
                <div>
                  <label class="fw-5 font-14">Address 2</label>
                  <form-field
                    [errorControl]="senderAddressForm.get('address2')"
                    name="address2"
                  >
                    <input
                      type="text"
                      formControlName="address2"
                      placeholder="Address 2"
                      class="form-control font-family"
                    />
                  </form-field>
                </div>
              </div>
  
              <div class="col-lg-4 pr-3">
                <div>
                  <label class="fw-5 font-14">Address 3</label>
                  <form-field
                    [errorControl]="senderAddressForm.get('address3')"
                    name="address3"
                  >
                    <input
                      type="text"
                      formControlName="address3"
                      placeholder="Address 3"
                      class="form-control font-family"
                    />
                  </form-field>
                </div>
              </div>
              <div class="col-lg-4 pr-3">
                <div class="row">
                  <div class="col-lg-6 pr-3">
                    <div class="fillters">
                      <label class="fw-5 font-14">Country</label>
                      <form-field
                        [errorControl]="senderAddressForm.get('country')"
                        name="country"
                      >
                        <mat-select
                          #selectCountry
                          (selectionChange)="selectCountryName($event)"
                          placeholder="Country"
                          class="form-control selectCountry"
                          formControlName="country"
                        >
                          <mat-option
                            *ngFor="let item of countries"
                            [value]="item.name"
                            >{{ item.name }}</mat-option
                          >
                        </mat-select>
                        <!-- <img
                                      (click)="selectCountry.open()"
                                      class="form-append"
                                      src="assets/images/down.svg"
                                    /> -->
                      </form-field>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div>
                      <label class="fw-5 font-14">State</label>
                      <form-field
                        [errorControl]="senderAddressForm.get('state')"
                        name="state"
                      >
                        <mat-select
                          #selectState
                          [disabled]="
                            !senderAddressForm.controls['country'].value
                          "
                          (selectionChange)="selectStateName($event)"
                          placeholder="State"
                          class="form-control"
                          formControlName="state"
                        >
                          <mat-option
                            *ngFor="let item of states"
                            [value]="item.name"
                            >{{ item.name }}</mat-option
                          >
                        </mat-select>
                        <!-- <img
                                    (click)="selectCountry.open()"
                                    class="form-append"
                                    src="assets/images/down.svg"
                                  /> -->
                      </form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 pr-3">
                <div class="row">
                  <div class="col-lg-6 pr-3">
                    <!-- {{cityList | json}} -->
                    <div>
                      <label class="fw-5 font-14">City</label>
                      <form-field
                        [errorControl]="senderAddressForm.get('city')"
                        name="city"
                      >
                        <!-- <mat-select
                            #selectState
                            [disabled]="
                              !senderAddressForm.controls['state'].value
                            "
                            placeholder="City"
                            class="form-control"
                            formControlName="city"
                          >
                            <mat-option
                              *ngFor="let item of cityList"
                              [value]="item"
                              >{{ item }}</mat-option
                            >
                          </mat-select> -->
                        <input
                          type="text"
                          formControlName="city"
                          placeholder="City"
                          class="form-control font-family"
                        />
                      </form-field>
                    </div>
                  </div>
  
                  <div class="col-lg-6">
                    <div>
                      <label class="fw-5 font-14">Zip Code</label>
                      <form-field
                        [errorControl]="senderAddressForm.get('zipCode')"
                        name="zipCode"
                      >
                        <input
                          type="text"
                          formControlName="zipCode"
                          placeholder="Zip Code"
                          class="form-control font-family"
                          [maxLength]="10"
                        />
                      </form-field>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4 pr-3">
                <div>
                  <label class="fw-5 font-14">Phone No</label>
                  <form-field
                    [errorControl]="senderAddressForm.get('phone')"
                    name="phone"
                  >
                    <!-- (input)="onValueChange($event)" -->
                    <input
                      type="text"
                      formControlName="phone"
                      placeholder="Phone No."
                      [mask]="mask"
                    
                      [maxLength]="14"
                      class="form-control font-family"
                    />
                  </form-field>
                </div>
              </div>
            </div>
            <section class="checbox-section">
              <mat-checkbox
                formControlName="isResidential"
                [checked]="isResidential"
                class="example-margin Residential"
                (click)="$event.preventDefault()"
                [disableRipple]="true"
              >
                Residential
              </mat-checkbox>
              <p (click)="verifyAddress()" class="verify">
                Verify Now
                <span class="verify-icon"
                  ><img src="../../../../assets/images/tooltip-icon1.svg"
                /></span>
              </p>
            </section>
            <div class="justify-center mt-4">
              <button
                class="theme-btn white-btn mr-2 back-red"
                (click)="goBack()"
              >
                Back
              </button>
              <button class="theme-btn red ml-2" type="button" (click)="goTo()">
                Done
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  