<app-admin-header [pageName]="'Mailbox Request'"></app-admin-header>
<div class="content">
    <div class="inner-dashbaord pt-3">
        <div class="shippment-form-card">
            <div class="row">
                <div class="col-lg-6 col-xl-3 pr-2 pl-2 padding-l">
                    <div>
                        <!-- <img src="../../../../assets/images/search.svg" class="searching-icon" />
                        <form-field>
                            <input type="text" placeholder="Search..." class="form-control font-family" />
                        </form-field> -->

                        <form-field>
                            <input [(ngModel)]="search"
                            (keyup)="searchAddress($event)" type="text" placeholder="Search..." class="form-control font-family" />
                            <img *ngIf="!search" src="../../../../assets/images/search.svg" class="form-append searching-icon" />
                            <img class="form-append" *ngIf="search" (click)="search = '';getMailboxRequestList();" src="../../../../assets/images/close-icon.svg" />
                        </form-field>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-xl-2 pr-2 pl-2 padding-l">
                    <div>
                        <form-field>
                            <mat-select class="form-control filter-status1" placeholder="Request Type">
                                <mat-option value="">All</mat-option>
                                <mat-option value="rejected">Rejected</mat-option>
                            </mat-select>
                        </form-field>
                    </div>
                </div> -->
            </div>
            <div class="hr">
                <hr />
            </div>
            <div class="row">
                <div class="col-lg-12 tble-res " *ngIf="requestList &&requestList.length>0">
                    <table class="table table-responsive shippment-table">
                        <tr>
                            <th>Name <i class="short"><img (click)="sortMailboxRequestList()" src="../../../../assets/images/shorting-icon.svg"></i></th>
                            <th>Company Name</th>
                            <th align="center">Post Office Form</th>
                            <th></th>
                            <th align="center">Status </th>
                            <th></th>
                            <th align="center">Video Call Req.</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr class="pointer" *ngFor="let item of requestList" >
                            <td routerLink="/admin/mailboxrequest/mailboxrequestdetail/{{item?.id}}">{{item?.name}}</td>
                            <td routerLink="/admin/mailboxrequest/mailboxrequestdetail/{{item?.id}}">{{item?.companyName || '--'}}</td>

                            <td routerLink="/admin/mailboxrequest/mailboxrequestdetail/{{item?.id}}" align="center"><img src="../../../../assets/images/admin/pdf-file.svg" class="file-img" /></td>
                            <td routerLink="/admin/mailboxrequest/mailboxrequestdetail/{{item?.id}}"></td>
                            <td routerLink="/admin/mailboxrequest/mailboxrequestdetail/{{item?.id}}" align="center"><button class="btn in-pending">{{item?.status}}</button></td>
                            <td routerLink="/admin/mailboxrequest/mailboxrequestdetail/{{item?.id}}"></td>
                            <td routerLink="/admin/mailboxrequest/mailboxrequestdetail/{{item?.id}}" align="center"> {{'--'}}
                                <!-- <img src="../../../../assets/images/admin/Viedo-icon.svg" class="video-img" /> -->
                            </td>
                            <td routerLink="/admin/mailboxrequest/mailboxrequestdetail/{{item?.id}}"></td>

                            <td>
                                <img [matMenuTriggerFor]="menu" src="../../../../assets/images/dots.svg" />
                                <mat-menu xPosition="before" #menu="matMenu">
                                    <button class="font-10 mat-menu-item" (click)="approveRequest(item?.id)">
                                        Approve
                                    </button>
                                    <button class="font-10  mat-menu-item" (click)="rejectRequest(item?.id)">Reject</button>
                                </mat-menu>
                            </td>

                        </tr>
                    </table>

                </div>
                <div class="col-lg-12 tble-res" *ngIf="!isLoading&&requestList&& requestList.length==0">

                    <div class="noRequest">
                        <span>No mailbox request found</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
      <pagination *ngIf="!isLoading&&requestList&& requestList.length>0"
        [(pageNo)]="pageNo"
        [(pageSize)]="pageSize"
        (page)="getMailboxRequestList()"
        [totalRecords]="totalRecords || 0"
      ></pagination>
    </div>
</div>
