<div class="panel-header justify-between d-flex align-center">
  <span class="Dashbaord" [routerLink]="link"
    ><span class="backArrow" *ngIf="icon"
      ><img src="../../../../assets/images/back-arrow.svg" /></span
    >{{ pageName }}
  </span>
  <div class="align-center">
    <span class="notification-icon"
      ><img src="../../../../assets/images/admin/notification.svg"  (click)="notificationdialog()"/>

      <mat-menu #menu1="matMenu" class="custom-menu mat-custom-notification">
        <div class="cursor userName notification-i">
          <div class="notfication-header">
            <p>Notifications</p>
          </div>
          <ul class="not-ul">
            <li class="active">
              <div class="not-div">
                <div clas="time-de">
                  <span>09:35 PM</span>
                  <span class="date-notifiatin"> | </span>25-12-2020
                </div>
                <p>It is a long established fact that a reader will be</p>
              </div>
            </li>
            <li class="">
              <div class="not-div">
                <div clas="time-de">
                  <span>09:35 PM</span>
                  <span class="date-notifiatin"> | </span>25-12-2020
                </div>
                <p>It is a long established fact that a reader will be</p>
              </div>
            </li>
            <li class="">
              <div class="not-div">
                <div clas="time-de">
                  <span>09:35 PM</span>
                  <span class="date-notifiatin"> | </span>25-12-2020
                </div>
                <p>It is a long established fact that a reader will be</p>
              </div>
            </li>
          </ul>
          <div class="see-all">
            <p class="text-center seeall">See All</p>
          </div>
        </div>
      </mat-menu>
    </span>
    <div [matMenuTriggerFor]="menu" class="userInfo">
      <img class="userImg" src="../../../../assets/images/Admin.jpg" alt="" />
      <span class="james font-14">{{ userData?.role?.name }}</span>
      <img class="ml-2 pointer" src="assets/images/down.svg" alt="" />
      <mat-menu #menu="matMenu" class="custom-menu mat-custom-profile">
        <div class="align-center cursor fw-5 p-2 userName">
          <span class="img-profile">
            <img
              class="userImg mr-2"
              src="{{
                userData?.imgUrl || '../../../../assets/images/Admin.jpg'
              }}"
              alt=""
            />
          </span>
          {{ userData?.role?.name }}
        </div>
        <div class="logoutUser cursor align-center" (click)="logout()">
          <img class="mr-2" src="../../../assets/images/logout.svg" />
          Logout
        </div>
      </mat-menu>
    </div>
  </div>
</div>
