
.dailogClass ::before {
    content: "";
    width: 10px;
    height: 10px;
    background: white;
    position: absolute;
    right: 78px;
    top: -58px;
    transform: rotate(133deg);
    border: 0;
  }

  span.backArrow > img {
    width: 15px !important;
    margin-right: 5px;
    cursor: pointer;
}

