<div class="d-none" [class.loading]="isloading">
  <mat-progress-spinner
  *ngIf="isloading"
    class="loader"
    [color]="'warn'"
    [mode]="'indeterminate'"
    [value]="'30'"
    stroke="f44336"
  >
  </mat-progress-spinner>
</div>
<section class="bg-info">
  <div class="row justify-between-md-center">
    <div class="col-lg-3 col-sm-3 pl-2">
      <img
        class="img-logo1"
        src="../../../../assets/images/newLogo4.png"
        alt=""
      />
    </div>
    <div class="col-lg-6 col-sm-6 mt-3">
      <div class="text-center font-36 fw-6">
        Select <span class="getStarted font-600">Plan </span>
      </div>
      <div class="text-center mailbox_text font-16 l-black">Please choose the plan that is right for you</div>
      <div class="text-center radioButton mt-2">
        <mat-radio-group
          aria-label="Select an option"
          (change)="planTypeChange($event)"
          [(ngModel)]="planType"
        >
        <mat-radio-button
        *ngIf="!userData?.isPlanPurchased"
            [checked]="planType == 'monthly'"
            color="warn"
            class="mx-2"
            value="monthly"
            >Monthly</mat-radio-button
          >
          <mat-radio-button
          *ngIf="!userData?.isPlanPurchased"
            [checked]="planType == 'annually'"
            color="warn"
            class="mx-2"
            value="annually"
            >Annual</mat-radio-button
          >
          <mat-radio-button
          *ngIf="this.userData?.isPlanExist"
            [checked]="planType == 'topUp'"
            color="warn"
            class="mx-2"
            value="topUp"
            >Scans</mat-radio-button
          >
        </mat-radio-group>
      </div>
    </div>
    <div class="col-lg-3 col-sm-3 mt-3 text-right">
      <button type="button" class="contact"><a href="tel:+123456890">Contact Us </a></button>
    </div>
  </div>
  <div class="row justify-between-md-center pb-4 mt-4">
    <div class="col-lg-10 mt-3 offset-lg-1" *ngIf="PlansData && PlansData.length>0 !isloading">
      <div class="row" *ngIf="planType !== 'topUp'">
        <div class="col-lg-4 mt-2 mb-5" *ngFor="let item of PlansData; let i = index">
          <div class="p-2 top-margin" (click)="storePlanId(item?.id)" >
            <div class="cardHeight"[class.active]="selectedPlan == item?.id"  [class.annual]="planType == 'annual'" [ngClass]="{'card_red':i==0,'card_gray':i==1,'card_Warn':i==2,'card_red1':i==3,'card_gray1':i==4,'card_Warn1':i==5}">
            <!-- <div class="cardHeight"  [ngClass]="{'annualRed':i==0,'annualGray':i==1,'annualWarn':i==2,'annualRed1':i==3,'annualGray1':i==4,'annualWarn1':i==5}"> -->
              <h5 class="text-center m-0 p-1 py-3">{{ item?.planName| titlecase }}</h5>
              <div class="sub-item">
                <img *ngIf="item?.isPopular"
                  class="most-img"
                  src="assets/images/mostpop.svg"
                  alt=""
                />
                <img *ngIf="i==0 || i==1 || i==2" [src]="i==0?'assets/images/mailred.svg':i==1?'assets/images/mailGray.svg':'assets/images/mailWarn.svg'" alt="" />
                <img *ngIf="i==3 || i==4 || i==5" [src]="i==3?'assets/images/mailred.svg':i==4?'assets/images/mailGray.svg':'assets/images/mailWarn.svg'" alt="" />
                <img *ngIf="i>5" [src]="'assets/images/mailred.svg'" alt="" />
                <h4>$ <span class="text_price">{{ item?.planPrice }}</span>/<span
                  class="font-14"
                  >{{ item?.validity == "monthly" ? "Month" : "Year" }}</span
                ></h4>
                <p>Scan Count Mail & Packages: <strong>{{ item?.scanCount }}</strong></p>
                <h5>Included With Mailbox Address</h5>
                <ul>
                  <li><mat-icon class="checkList">check</mat-icon>Physical Street Address</li>
                  <li><mat-icon class="checkList">check</mat-icon>Mail & Package Scans</li>
                  <li><mat-icon class="checkList">check</mat-icon>Unlimited  Recipient</li>
                  <li><mat-icon class="checkList">check</mat-icon>Mail Shredding</li>
                  <li><mat-icon class="checkList">check</mat-icon>Junk Mail Filtering</li>
                  <li><mat-icon class="checkList">check</mat-icon>Mail Consolidation When Forwarded</li>
                </ul>
                <h5>Additional Fees</h5>
                <ul class="addFee">
                  <li><mat-icon class="checkList addIcon">add</mat-icon>
                    Package Receiving: 5 free, then <strong>${{ item?.additionalFee?.packageReceiving }}</strong> each additional, per
                    month
                  </li>
                  <li><mat-icon class="checkList addIcon">add</mat-icon>
                    Package Consolidation: <strong>${{ item?.additionalFee?.packageConsolidation }}</strong> per consolidation, additional
                    charges may apply
                  </li>
                  <li><mat-icon class="checkList addIcon">add</mat-icon>
                    Overweight (50+ Pounds) / Oversized (Length + Width +
                    Height is greater than or equal to 50) Package:<strong> ${{item?.additionalFee?.overWeight}}</strong> per  package
                  </li>
                  <li><mat-icon class="checkList addIcon">add</mat-icon>Mail Storage (After 30 days): <strong>${{ item?.additionalFee?.mailStorage }}</strong> per day</li>
                  <li><mat-icon class="checkList addIcon">add</mat-icon>Package Storage (After 3 days): <strong>${{ item?.additionalFee?.packageStorage }}</strong> per day</li>
                  <li><mat-icon class="checkList addIcon">add</mat-icon>
                    Forward Mail & Packages: <strong>Standard carrier rates applied</strong>
                  </li>
                  <li><mat-icon class="checkList addIcon">add</mat-icon>
                    Pallet Receiving: <strong>${{item?.additionalFee?.palletReceiving}}</strong>
                  </li>
                  <li><mat-icon class="checkList addIcon">add</mat-icon>
                    Pallet Storage (After 3 Days): <strong>${{item?.additionalFee?.palletStorage}}</strong> per day
                  </li>
                </ul>
                <h5>Penalty Fees</h5>
                <ul class="penFee">
                  <li class="penalty">
                    Wrong Address (Missing/Incorrect Assigned Address): <strong>${{item?.penaltyFee?.wrongAddress }}</strong>
                  </li>
                  <li class="penalty">
                    Late (Every week an Additional Fee is not paid): <strong>${{item?.penaltyFee?.late}}</strong> 
                  </li>
                  <li class="penalty">
                    Reinstatement (15 Days Non-payment of Mailbox Address
                    Fee): <strong>${{ item?.penaltyFee?.reinstatement }}</strong>
                     
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="planType == 'topUp'">
        <div class="col-lg-4 mt-2" *ngFor="let item of PlansData; let i = index">
          <div class="p-2 top-margin" (click)="storePlanId(item?.id)" >
            <div class="" [class.active]="selectedPlan == item?.id" [ngClass]="{'card_red':i==0,'card_gray':i==1,'card_Warn':i==2,'card_red1':i==3,'card_gray1':i==4,'card_Warn1':i==5}">
              <h5 class="text-center m-0 p-1 py-3">{{item?.planName| titlecase }}</h5>
              <div class="sub-item">
                <img *ngIf="item?.isPopular"
                  class="most-img"
                  src="assets/images/mostpop.svg"
                  alt=""
                />
                <img *ngIf="i==0 || i==1 || i==2" [src]="i==0?'assets/images/mailred.svg':i==1?'assets/images/mailGray.svg':'assets/images/mailWarn.svg'" alt="" />
                <img *ngIf="i==3 || i==4 || i==5" [src]="i==3?'assets/images/mailred.svg':i==4?'assets/images/mailGray.svg':'assets/images/mailWarn.svg'" alt="" />
                <img *ngIf="i>5" [src]="'assets/images/mailred.svg'" alt="" />
                <h4>$ <span class="text_price">{{ item?.planPrice }}</span></h4>
                <p>Scan Count Mail & Packages: {{ item?.scanCount}}</p>
                <h5>Included With Mailbox Address</h5>
                <ul>
                  <li><mat-icon class="checkList">check</mat-icon>Physical Street Address</li>
                  <li><mat-icon class="checkList">check</mat-icon>Mail & Package Scans</li>
                  <li><mat-icon class="checkList">check</mat-icon>Unlimited Recipients</li>
                  <li><mat-icon class="checkList">check</mat-icon>Mail Shredding</li>
                  <li><mat-icon class="checkList">check</mat-icon>Junk Mail Filtering</li>
                  <li><mat-icon class="checkList">check</mat-icon>Mail Consolidation When Forwarded</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <p class="pt-4 choose">
          Choosing a Scan plan will add more scans to your current Mailbox
          Address Plan. Other features of your current Mailbox Address Plan,
          will remain the same.
        </p>
      </div>
      <div class="justify-center pt-1 mt-4 mb-4">
        <button type="button" class="theme-btn white-btn mr-2 back-red" (click)="cancel()">
          Cancel
        </button>
        <button
          class="theme-btn red ml-2"
         (click)="buyPlan();"
        >
        Buy {{userData?.isPlanPurchased?'Scans':'Plan'}}
        </button>
      </div>
    </div>
    
    
    <div class="col-lg-10 mt-3 offset-lg-1 d-none">
      <div class="row d-none" *ngIf="planType !== 'topUp'">
        <div class="col-lg-4 mt-2 mb-5" *ngFor="let item of PlansData; let i = index">
          <div class="p-2 top-margin" (click)="storePlanId(item?.id)" >
            <div class="cardHeight"[class.active]="selectedPlan == item?.id"  [class.annual]="planType == 'annual'" [ngClass]="{'card_red':i==0,'card_gray':i==1,'card_Warn':i==2,'card_red1':i==3,'card_gray1':i==4,'card_Warn1':i==5}">
            <!-- <div class="cardHeight"  [ngClass]="{'annualRed':i==0,'annualGray':i==1,'annualWarn':i==2,'annualRed1':i==3,'annualGray1':i==4,'annualWarn1':i==5}"> -->
              <h6 class="text-center m-0 p-1 py-3">{{ item?.planName| titlecase }}</h6>
              <div class="sub-item">
                <img
                  class="most-img"
                  src="assets/images/mostpop.svg"
                  alt=""
                />
                <img *ngIf="i==0 || i==1 || i==2" [src]="i==0?'assets/images/mailred.svg':i==1?'assets/images/mailGray.svg':'assets/images/mailWarn.svg'" alt="" />
                <img *ngIf="i==3 || i==4 || i==5" [src]="i==3?'assets/images/mailred.svg':i==4?'assets/images/mailGray.svg':'assets/images/mailWarn.svg'" alt="" />
                <img *ngIf="i>5" [src]="'assets/images/mailred.svg'" alt="" />
                <h4>$ <span class="text_price">{{ item?.planPrice }}</span>/<span
                  class="font-14"
                  >{{ item?.validity == "monthly" ? "Month" : "Year" }}</span
                ></h4>
                <p>Scan Count Mail & Packages: <strong>{{ item?.scanCount }}</strong></p>
                <h5>Included With Mailbox Address</h5>
                <ul>
                  <li><mat-icon class="checkList">check</mat-icon>Physical Street Address</li>
                  <li><mat-icon class="checkList">check</mat-icon>Mail & Package Scans</li>
                  <li><mat-icon class="checkList">check</mat-icon>3 Recipient Maximum Per Address</li>
                  <li><mat-icon class="checkList">check</mat-icon>Mail Shredding</li>
                  <li><mat-icon class="checkList">check</mat-icon>Junk Mail Filtering</li>
                  <li><mat-icon class="checkList">check</mat-icon>Mail Consolidation When Forwarded</li>
                </ul>
                <h5>Additional Fees</h5>
                <ul>
                  <li><mat-icon class="checkList addIcon">add</mat-icon>
                    Package Receiving: 5 free, then <strong>${{ item?.packagesReceivingPrice }}</strong> each additional, per
                    month
                  </li>
                  <li><mat-icon class="checkList addIcon">add</mat-icon>
                    Package Consolidation: <strong>$2</strong> per consolidation, additional
                    charges may apply
                  </li>
                  <li><mat-icon class="checkList addIcon">add</mat-icon>
                    Overweight (50+ Pounds) / Oversized (Length + Width +
                    Height is greater than or equal to 50) Package:<strong> ${{item?.overWeightPackageDeleivery}}</strong> per  package
                  </li>
                  <li><mat-icon class="checkList addIcon">add</mat-icon>Mail Storage (After 30 days): <strong>${{ item?.storageFee }}</strong> per day</li>
                  <li><mat-icon class="checkList addIcon">add</mat-icon>
                    Forward Mail & Packages: Standard carrier rates applied
                  </li>
                </ul>
                <h5>Penalty Fees</h5>
                <ul>
                  <li class="penalty">
                    Wrong Address (Missing/Incorrect Assigned Address): <strong>${{item?.wrongAddressFee }}</strong>
                  </li>
                  <li class="penalty">
                    Late (Every week an Additional Fee is not paid):<strong>$15</strong> 
                  </li>
                  <li class="penalty">
                    Reinstatement (15 Days Non-payment of Mailbox Address
                    Fee): <strong>${{ item?.reinstatementFee }}</strong>
                     
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-none" *ngIf="planType == 'topUp'">
        <div class="col-lg-4">
          <div class="p-2 top-margin">
            <div class="topscanRed">
              <h6 class="text-center m-0 p-1 py-3">First Class</h6>
              <div class="sub-item">
                <img
                  class="most-img"
                  src="assets/images/mostpop.svg"
                  alt=""
                />
                <img src="assets/images/mailred.svg" alt="" />
                <h4>$ <span class="text_price">240</span></h4>
                <p>Scan Count Mail & Packages: 11</p>
                <h5>Included With Mailbox Address</h5>
                <ul>
                  <li> <mat-icon class="checkList">check</mat-icon>Physical Street Address</li>
                  <li> <mat-icon class="checkList">check</mat-icon>Mail & Package Scans</li>
                  <li> <mat-icon class="checkList">check</mat-icon>3 Recipient Maximum Per Address</li>
                  <li> <mat-icon class="checkList">check</mat-icon>Mail Shredding</li>
                  <li> <mat-icon class="checkList">check</mat-icon>Junk Mail Filtering</li>
                  <li> <mat-icon class="checkList">check</mat-icon>Mail Consolidation When Forwarded</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="p-2 top-margin">
            <div class="topscanGray">
              <h6 class="text-center m-0 p-1 py-3">Economy</h6>
              <div class="sub-item">
                <img src="assets/images/mailGray.svg" alt="" />
                <h4>$ <span class="text_price">240</span></h4>
                <p>Scan Count Mail & Packages: 11</p>
                <h5>Included With Mailbox Address</h5>
                <ul>
                  <li>Physical Street Address</li>
                  <li>Mail & Package Scans</li>
                  <li>3 Recipient Maximum Per Address</li>
                  <li>Mail Shredding</li>
                  <li>Junk Mail Filtering</li>
                  <li>Mail Consolidation When Forwarded</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="p-2 top-margin">
            <div class="topscanWarn">
              <h6 class="text-center m-0 p-1 py-3">Priority</h6>
              <div class="sub-item">
                <img src="assets/images/mailWarn.svg" alt="" />
                <h4>$ <span class="text_price">240</span></h4>
                <p>Scan Count Mail & Packages: 11</p>
                <h5>Included With Mailbox Address</h5>
                <ul>
                  <li>Physical Street Address</li>
                  <li>Mail & Package Scans</li>
                  <li>3 Recipient Maximum Per Address</li>
                  <li>Mail Shredding</li>
                  <li>Junk Mail Filtering</li>
                  <li>Mail Consolidation When Forwarded</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <p class="pt-4 choose">
          Choosing a Top-up plan will add more scans to your current Mailbox
          Address Plan. Other features of your current Mailbox Address Plan,
          will remain the same.
        </p>
      </div>
    </div>

  </div>
  <div class="noData" *ngIf="PlansData && PlansData.length == 0 && !isloading">
    <span>No Plan Found</span>
  </div>
</section>
