.mat-expansion-panel:not([class*=mat-elevation-z]) {
     box-shadow: none !important;    padding: 10px;
}
.mat-expansion-panel-header-title , .mat-expansion-panel-body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.mat-expansion-panel-body {
    font-family: "Poppins", sans-serif!important;color: #434343!important;
}
input.form-control.font-family.help-serch {
  width: 93%;
}


