<section class=""*ngIf="!code">
    <div class="row justify-content-md-center pb-1">
        <div class="col-lg-12  col-lg-xl-12 col-sm-12  col-md-12 px-3 mt-2">
            <div class="mt-2">
                <!-- <div class="white-form-card"> -->
                    <div class="row">
                        <div class="col-lg-12 pt-4 justify-between-md-center h-pickup text-center hold-img">
                        <img  class="holdImg" src="../../../../assets/images/holdpickup.svg" />
                        </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-8 offset-lg-2 pt-1 justify-between-md-center h-pickup">
                          
                            <p class="pt-3 font-500 text-center">Hold this for pickup ?</p>
                            <p class=" font-500 text-center">Click Get Code to get your one-time verification code to pickup your item(s)</p>
                           
                            <div class="justify-center pt-3 mt-4 mb-5">
                                <button class="theme-btn white-btn mr-2 back-red" (click)="this.dialogRef.close(false)">Cancel</button>
                                <button class="theme-btn red ml-2" (click)="getCode()" >Get Code<mat-spinner
                                    [diameter]="18"
                                    class="ml-2"
                                    [strokeWidth]="1"
                                    *ngIf="isLoading"
                                  ></mat-spinner></button>
                            <!-- routerLink="/client/add-shipment/getcode" -->
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</section>

<section class="" *ngIf="code">
    <div class="row justify-content-md-center pt-5">
        <div class="col-lg-12 px-3 mt-2">
            <div class="mt-2">
                    <div class="row">
                        <div class="col-lg-12 text-center h-pickup">
                            <img class="codeImg" src="../../../../assets/images/getcode.svg" />
                            <p class="pt-3 font-500 ">Your pickup code is below</p>
                           </div>
                           <div class="col-lg-12  pt-2 text-center h-pickup">
                           <div class="get-code text-center pt-3">
                            <span class="fs-16 fw-500">{{code}}</span>
                          
                          <!-- <div class="files"><img src="../../../../assets/images/copy-file.svg"></div> -->
                           </div>
                          
                          </div>
                        </div>
                        <div class="justify-center pt-1 mt-4 mb-4">                               
                            <button class="theme-btn red ml-2" (click)="dialogRef.close(true)">Close</button>
                        </div>
            </div>
        </div>
    </div>
</section>
