<section class="bg-info">
  <div class="row justify-between-md-center">
    <div class="col-lg-3 pl-2">
      <img
        src="../../../../assets/images/newLogo4.png"
        alt=""
        class="img-logo1"
      />
    </div>
    <div class="col-lg-6 mt-3">
      <div class="text-center font-36 fw-6">
        Forward <span class="getStarted font-600">Mail</span>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center pb-5">
    <div class="col-lg-7 col-sm-12 col-md-7 px-3 mt-2">
      <div class="mt-2">
        <div class="white-form-card">
          <div class="row">
            <div
              class="col-lg-12 pt-4 justify-between-md-center h-pickup text-center"
            >
              <img src="../../../../assets/images/forwardmail.svg" />
            </div>
            <div class="col-lg-8 offset-lg-2 pt-4 justify-between-md-center">
              <!-- <p  class="pt-3 font-500">Do you want to forward this mail to a new address ?</p> -->
              <p class="pt-3 font-500">
                Do you want to forward their mail to the address
              </p>
              <section class="checbox-section">
                <div class="forwar-checked">
                  from the existing or enter new address ?
                  <div class="float-left exiting-add"></div>
                  <!-- <div  class="select-address">
                                              <form-field >                                            
                                                    <mat-select                                                       
                                                        placeholder="Select Address"
                                                        class="mat-select form-control"                                                    
                                                    >
                                            
                                                    </mat-select>
                                           <div class="form-append"></div>
                                   
                                        </form-field>
                                    </div> -->
                </div>
                <div class="forwar-checked2">
                  <!-- <mat-checkbox #exitingAddress (change)="selectAddressType($event,newAddress)" (click)="addressType='existing'" class="mr-2 agree signup" > Existing Address
                                </mat-checkbox>
                                <br/>
                                <mat-checkbox #newAddress
                    (click)="addressType='newAddress'" (change)="selectAddressType($event,exitingAddress)">New Address</mat-checkbox> -->
                  <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                    [(ngModel)]="addressType"
                  >
                    <mat-radio-button
                      class="example-radio-button"
                      value="existing"
                      >Existing Address
                    </mat-radio-button>
                    <mat-radio-button
                      class="example-radio-button"
                      value="newAddress"
                      >New Address</mat-radio-button
                    >
                  </mat-radio-group>
                
                
                </div>
              </section>
              <div class="justify-center mt-4 mb-3">
                <button
                  class="theme-btn white-btn mr-2 back-red"
                  (click)="goBack()"
                >
                  Cancel
                </button>
                <button (click)="goto()" class="theme-btn red ml-2">
                  Confirm
                  <mat-spinner
                    [diameter]="18"
                    class="ml-2"
                    [strokeWidth]="1"
                    *ngIf="isLoading"
                  ></mat-spinner>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
