.overlay {
    pointer-events: none;
    position: inherit;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 1;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.bgred {
    background-color: #ffffff;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #d5d3d3e0;
}

.bgShadow {
    box-shadow: 1.5px 1.5px 1.5px 1.5px #d5d3d3e0;
}

.shortButton {
    width: 200px;
}
.mobile-view{
    display: none;
}

@media (max-width:767px) {
    .filter-date {
        margin-right: 1px;
    }

    .icon-set {
        height: unset !important;
        margin-right: 0 !important;
        margin-left: -10px;
    }
}

@media (max-width:767px) {
 
}

@media (max-width:991px){
    .col-lg-1.check-div{
        justify-content: flex-start;
        max-width: 100%;
    }
    .col-lg-1.check-div {
        margin-left: 15px;
    }
    .mobile-view{
        display: block;
        font-size: 14px;
    }
    .mat-checkbox{
        width: unset !important;
    }
}

@media (min-width:1025px) and (max-width:1230px){
    .action-perfom{
        display: flex;
        flex-wrap: wrap;
    }
    .mr-right{
        margin-right: 0 !important;
    }
    .mr-right p{
        line-height: 1.1;
    }
}
