<div class="font-20 fw-6 text-center mb-3 mt-5">Update Due Date </div>
<!-- <div class="font-16 text-center">{{data.description}}</div> -->
<div>
    <form-field [errorControl]="dueDate" name="dueDate">
        <input
        type="text" readonly
         [formControl]="dueDate" 
         (click)="picker.open()" 
         class="form-control forgot-pass"
         [matDatepicker]="picker"  
         placeholder="Due Date"/>
        <img class="form-append mr-2" (click)="picker.open()" src="../../../../assets/images/calender.svg" alt="" />
        <mat-datepicker #picker></mat-datepicker>
    </form-field>
</div>
<div class=""></div>
<div class="justify-center align-center pt-4">
  <button class="theme-btn white-btn back-red bulk-shipment mr-4" (click)="this.dialogRef.close(false)">Cancel</button>
  <button class="theme-btn red" (click)="changeDueDate()">Update
    <mat-spinner
              [diameter]="18"
              class="ml-2"
              [strokeWidth]="1"
              *ngIf="isLoading"
            ></mat-spinner>
  </button>
</div>
