<div class="row">
    <div class="col-lg-12 justify-between-md-center pt-3">
        <div class="invit-div">
            <p class="font-500 text-center">Add/Edit {{data?.userData?.userPositionTag}} user margin and discount </p>
        </div>
    </div>
</div>
<div class="row justify-center">
    <div class="col-lg-9 col-xl-9 justify-between-md-center">
        <label class="font-14">Margin</label>
        <form-field [errorControl]="margin" name="margin">
            <input type="text" NumberInput [formControl]="margin" maxlength="2" class="form-control forgot-pass"
                placeholder="10%" />
        </form-field>
    </div>
    <div class="col-lg-9 col-xl-9 justify-between-md-center">
        <label class="font-14">Discount</label>
        <form-field [errorControl]="discount" name="Discount">
            <input type="text" NumberInput maxlength="2" class="form-control forgot-pass" [formControl]="discount"
                placeholder="10%" />
        </form-field>
    </div>
    <div class="justify-center my-3">
        <button type="button" class="theme-btn white-btn mr-2 back-red" (click)="this.dialogRef.close(false)">Cancel</button>
        <button type="button" class="theme-btn red ml-2" (click)="updateUserDiscount()"> Save</button>
    </div>

</div>