<div class="panel-header justify-between d-flex align-center">
  <div class="hidden-lg-up" *ngIf="isSmallNav1">
    <img
      (click)="
        $event.stopPropagation();
        $event.preventDefault();
        isSmallNav = !isSmallNav;
        toggleSmallNav()
      "
      src="../../../assets/images/bar-menu.png"
    />
  </div>
  <span class="Dashbaord" [routerLink]="link"
    ><span class="backArrow" *ngIf="icon"
      ><img src="../../../../assets/images/back-arrow.svg" /></span
    >{{ pageName }}
  </span>
  <div class="align-center">
    <button *ngIf="userAccountType!='mailBox'" type="button" (click)="openTutorial()" class="contact mx-2 tutorial cursor">
      Tutorial
    </button>
    <!-- <button type="button" (click)="startTour()" class="contact mx-2 pointer">Tutorial</button> -->
    <button type="button" class="contact">
      <a href="tel:+123456890">Contact Us </a>
    </button>
    <img
      class="userImg"
      [matMenuTriggerFor]="menu"
      src="{{
        userData?.currentProfile?.profilePicture ||
          '../../../../assets/images/user.svg'
      }}"
      alt=""
    />
    <span [matMenuTriggerFor]="menu" class="james font-14">{{
      userData?.profiles[0]?.name | titlecase
    }}</span>
    <img
      [matMenuTriggerFor]="menu"
      class="ml-2 pointer"
      src="assets/images/down.svg"
      alt=""
    />
    <mat-menu #menu="matMenu" class="custom-menu mat-custom-profile">
      <div class="align-center cursor fw-5 p-2 userName">
        <span class="img-profile">
          <img
            class="userImg mr-2"
            [src]="
              userData?.currentProfile?.profilePicture ||
              '../../../../assets/images/user.svg'
            "
            alt=""
          />
        </span>
        {{ userData?.profiles[0]?.name | titlecase }}
      </div>
      <div
        routerLink="/client/editprofile/{{ userData?.id }}"
        class="passwordChange cursor align-center"
      >
        <img
          src="../../../assets/images/edit-profile.svg"
          class="lockPassword mr-2"
        />Edit Profile
      </div>
      <div
        routerLink="/client/changepassword/{{ userData?.id }}"
        class="passwordChange cursor align-center"
      >
        <img
          src="../../../assets/images/change-password.svg"
          class="lockPassword mr-2"
        />Change Password
      </div>
      <div (click)="logout()" class="logoutUser cursor align-center">
        <img class="mr-2" src="../../../assets/images/logout.svg" />
        Logout
      </div>
    </mat-menu>
  </div>
</div>
<!-- <ngx-guided-tour></ngx-guided-tour> -->

<ngx-guided-tour
  skipText="Custom skip text"
  nextText="Custom next text"
  backText="Custom back text"
  progressIndicator="template"
  progressIndicatorLocation="progressIndicatorLocation"
  doneText="Complete"
></ngx-guided-tour>
