
<!-- <p>dashboard works!</p> -->
<app-admin-header [pageName]="'Dashboard'" ></app-admin-header>

<div class="content">
    <div class="inner-dashbaord">
        <div class="text-center font-14">
            <div class="row">
                <div class="col-lg-4">
                    <div class="create-admin-dash cusrsor" routerLink="/admin/shipments">
                        <div class="shipment-admin">
                            <div class="imge-icon"><img src="../../../../assets/images/admin/shipping-fast.svg"></div>
                            <div class="text-right-admin">
                                <span>Previous Shipments</span>
                                <span class="font-12">Quick Access To View Past Shipments</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="pervious-admin-dash cusrsor" routerLink="/admin/analyticsreports">
                        <div class="shipment-admin">
                            <div class="imge-icon"><img src="../../../../assets/images/admin/mailbox-.svg"></div>
                              <div class="text-right-admin">
                                <span>Volume Carrier</span>
                                 <span class="font-12">Carriers with the maximum number of shipments</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <div class="draft-admin-dash cusrsor" routerLink="/admin/invoicesbilling">
                        <div class="shipment-admin">
                            <div class="imge-icon"><img src="../../../../assets/images/admin/after-draft-click.svg"></div>
                            <div class="text-right-admin">
                            <span>Invoices</span>
                            <span class="font-12">Overall billing detail on shipments</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- graphs sections  -->
            <div class="row">
                <div class="col-lg-7  graph-t">
                    <div class="card saving white-form-card">
                        <div class="chart-wrapper">
                            <div class="d-flex dateFilter">
                                <div class="countText"><span>Shipping Account Vs Mailbox</span></div>
                                <div class="d-flex">
                                <span>
                                    <div class="countStartDate">
                                      <div class="filter-date dashadmin ">
                                        <input type="text" [value]="year" (click)="Year.open()" [(ngModel)]="year" (dateChange)="getDashboardshipingAndMailboxcount()" [matDatepicker]="Year" class="form-control"  [placeholder]="year||'Year'"/>
                                        <img  src="../../../../assets/images/calender.svg" (click)="Year.open()" class="form-append mr-2" />
                                        <!-- <img *ngIf="year" (click)="year = ''; getMailboxlineChartData(); " src="../../../../assets/images/close-icon.svg" class="form-append mr-2" /> -->
                                        <mat-datepicker (yearSelected)="chosenYearHandler($event, Year)"
                                      startView="multi-year" #Year></mat-datepicker>
                                      </div>
                                      <!--  -->
                                    </div>
                                </span>
                                </div>
                              </div>
                            <canvas baseChart *ngIf="!isLineChartLoading && this.lineChartData && this.lineChartData[0]?.data.length >0"
                                [datasets]="lineChartData"
                                [labels]="lineChartLabels"
                                [options]="lineChartOptions"
                                [legend]="lineChartLegend"

                                [type]="lineChartType"
                                [plugins]="lineChartPlugins">
                            </canvas>
                        </div>
                        <!-- <img src="../../../../../assets/images/mailbox-chart.png" /> -->
                    </div>

                </div>
                <div class="col-lg-5 graph-r">
                  <div class="card saving white-form-card ">
                    <div class="d-flex dateFilter">
                      <div class="countText"><span>Total system usage</span></div>
                      <div class="d-flex">
                      <span>
                          <div class="countStartDate">
                            <div class="filter-date dashadmin">
                              <input type="text" (click)="startDate.open()" [(ngModel)]="starDate" (dateChange)="getShipmentCountChartDataByDate()" [matDatepicker]="startDate" class="form-control"  placeholder="start Date"/>
                              <img *ngIf="!starDate" src="../../../../assets/images/calender.svg" (click)="startDate.open()" class="form-append mr-2" />
                              <img *ngIf="starDate" (click)="starDate = ''; endDate = ''; getShipmentCountChartData(); " src="../../../../assets/images/close-icon.svg" class="form-append mr-2" />
                              <mat-datepicker #startDate></mat-datepicker>
                            </div>
                          </div>
                      </span>
                      <span class="mx-1">
                          <div class="countStartDate">
                            <div class="filter-date dashadmin">
                              <input type="text" (click)="lastCountDate.open()" [disabled]="!starDate" [min]="starDate" (dateChange)="getShipmentCountChartData()" [(ngModel)]="endDate" [matDatepicker]="lastCountDate" class="form-control"  placeholder="end Date"/>
                              <img *ngIf="!endDate" src="../../../../assets/images/calender.svg" (click)="lastCountDate.open()" class="form-append mr-2" />
                              <img *ngIf="endDate" (click)="endDate = ''; getShipmentCountChartData(); " src="../../../../assets/images/close-icon.svg" class="form-append mr-2" />
                              <mat-datepicker #lastCountDate></mat-datepicker>
                            </div>
                          </div>
                      </span>
                      </div>
                    </div>
                    <!-- {{this.shipmentCountChartData?.completed != '0'|| this.shipmentCountChartData?.drafted != '0' || this.shipmentCountChartData?.total != '0' && !isDonughtChartLoading | json}}
                    {{shipmentCountChartData | json}}  -->
                    <div class="dounght">
                     <div style="display: block ; min-height: 292px; width: 292px;">
                        <canvas *ngIf="!isDonughtChartLoading && this.shipmentCountChartData?.completed != '0'|| this.shipmentCountChartData?.drafted != '0' || this.shipmentCountChartData?.total != '0'"
                        baseChart
                        [datasets]="doughnutChartDatasets"
                        [labels]="doughnutChartLabels"
                        [legend]="true"
                        [type]="'doughnut'"

                        ></canvas>
                        <!-- [options]="doughnutChartOptions" -->
                        <!-- [colors]="donutColors" -->
                        <div *ngIf="!isDonughtChartLoading && this.shipmentCountChartData?.completed == '0'&& this.shipmentCountChartData?.drafted == '0' && this.shipmentCountChartData?.total == '0'" class="noData">
                          <span>No data found</span>
                        </div>
                      </div>
                      <div *ngIf="!isDonughtChartLoading && this.shipmentCountChartData?.completed != '0'|| this.shipmentCountChartData?.drafted != '0' || this.shipmentCountChartData?.total != '0'" class="text_position">
                        <p class="mb-1">{{this.shipmentCountChartData?.total}}</p>
                        <span>Total shipments</span>
                        </div>
                    </div>

                    <!-- <img src="../../../../assets/images/shipment-graph-right.png"> -->
                  </div>
                </div>
              </div>

              <!-- graphs sections -->
            <div class="row">
                <div class="col-lg-3 delay1">
                    <div class="delayed">
                        <div class="img-Delayed">
                            <img src="../../../../.../../assets/images/delayed-icon.svg" />
                            <span>Delayed</span>
                        </div>
                        <div class="number">
                            <span>{{dashboardStatus?.delayed}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 delay2">
                    <div class="exceptions">
                        <div class="img-Delayed">
                            <img src="../../../../.../../assets/images/exceptions-icon.svg" />
                            <span>Exceptions</span>
                        </div>
                        <div class="number">
                            <span>{{dashboardStatus?.exception}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 delay3">
                    <div class="label-created">
                        <div class="img-Delayed">
                            <img src="../../../../.../../assets/images/label-created-icon.svg" />
                            <span>Order Created</span>
                        </div>
                        <div class="number">
                            <span>{{dashboardStatus?.labelCreated}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 delay4">
                    <div class="early">
                        <div class="img-Delayed">
                            <img src="../../../../.../../assets/images/early-icon.svg" />
                            <span>Cancelled</span>
                        </div>
                        <div class="number">
                            <span>{{dashboardStatus?.cancelled}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 delay5">
                    <div class="On-time">
                        <div class="img-Delayed">
                            <img src="../../../../.../../assets/images/on-time-icon.svg" />
                            <span>On Time</span>
                        </div>
                        <div class="number">
                            <span>{{dashboardStatus?.onTime}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 delay6">
                    <div class="delivered">
                        <div class="img-Delayed">
                            <img src="../../../../.../../assets/images/delivery-complete-icon.svg" />
                            <span>Delivered</span>
                        </div>
                        <div class="number">
                            <span>{{dashboardStatus?.delivered}}</span>
                        </div>

                    </div>

                </div>
                <div class="col-lg-3 delay7 ">
                    <div class="out-delivery">
                        <div class="img-Delayed">
                            <img src="../../../../.../../assets/images/Fast Shipping-icon.svg" />
                            <span>Out For Delivery</span>
                        </div>
                        <div class="number">
                            <span>{{dashboardStatus?.outForDelivery}}</span>
                        </div>

                    </div>

                </div>
                <div class="col-lg-3 delay7">
                    <div class="out-delivery">
                        <div class="img-Delayed">
                            <img src="../../../../.../../assets/images/Fast Shipping-icon.svg" />
                            <span>In Transit</span>
                        </div>
                        <div class="number">
                            <span>{{dashboardStatus?.inTransit}}</span>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
