.draft-shipment-dash, .pervious-shipment-dash, .create-shipment-dash{
    cursor: pointer;
}
canvas {
    width: 100% !important;
    height: 100% !important;
  }

  .dounght {
    display: flex;
    justify-content: center;
}
.filter-date input {
    margin-left: 0px;
    height: 35px;
    margin-top: 0px !important;
    padding: 6px 0px;
}
.countStartDate{
    width :125px
}
.dateFilter{
    justify-content: space-between;
}
.countText{
    display: flex;
    align-items: center;
}
.filter-date {
    border: 1px solid #afb0c9;
    border-radius: 10px;
    padding: 6px 0px;
    height: 46px;
    margin-top: 2px;
    background-color: #fff;
}
.noData{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80%;
}
.filter-date.dashadmin {
  display: flex;
}
.filter-date.dashadmin > img {
  width: 16px;
}
.filter-date.dashadmin > input{
  margin-left: 8px;
}

.cusrsor{
  cursor: pointer;
}
.text_position {
  position: absolute;
  top: 50%;
}
.dounght{
  position: relative;
}
.text_position {
  font-size: 15px;
  font-weight: 700;
}

