<div class="dailogClass">
  <div class="cursor userName">
    <div class="notfication-header">
      <p>Notifications</p>
    </div>
    <ul class="not-ul max-height" *ngIf="notifications && notifications.length > 0">
      <li [class.active]="i==0" *ngFor="let items of notifications; i as index">
        <div class="not-div">
          <div clas="time-de">
            <span> {{items?.createdAt | date:'HH:mm'}}</span>
            <!-- 09:35 PM -->
            <span class="date-notifiatin"> | </span>{{items?.createdAt | date:'dd-MM-YYYY'}}
          </div>
          <p>{{items?.description}}</p>
        </div>
      </li>
    </ul>
    <div class="noRequest" *ngIf="notifications && notifications.length == 0">
      No notification found
    </div>
  </div>
</div>
