<app-sub-admin-header *ngIf="!isLoading" [pageName]="'Back'" [icon]="true" [link]="'/subAdmin/mailbox-request'"></app-sub-admin-header>
<!-- <p>dashboard works!</p> -->
<div class="d-none"  [class.loading]="isLoading">
    <mat-progress-spinner *ngIf="isLoading" class="loader" [color]="'warn'" [mode]="'indeterminate'" [value]="'30'"
        stroke="f44336">
    </mat-progress-spinner>
  </div>
<div class="row" *ngIf="!isLoading">
    <div class="col-lg-5  col-xl-5 padding-both">
        <div class="white-form-card1 user-detail">
            <div class="edit-servces">
                <p class="float-left">User Details</p>
            </div>
            <table class="sender-info" width="100%">
                <tr>
                    <td align="left">Name :</td>
                    <td align="left">{{requestDetail?.name}}</td>
                </tr>
                <tr>
                    <td align="left">Company Name :</td>
                    <td align="left">{{requestDetail?.companyName || '--'}}</td>
                </tr>
                <tr>
                    <td align="left">Address :</td>
                    <td align="left">{{requestDetail?.address1}} {{requestDetail?.address2?','+' '+requestDetail?.address2:'' }}</td>
                </tr>
                <tr>
                    <td align="left">Zip Code :</td>
                    <td align="left">{{requestDetail?.zipCode}}</td>
                </tr>
                <tr>
                    <td align="left">State and Country :</td>
                    <td align="left">{{requestDetail?.state}},{{requestDetail?.country}}</td>
                </tr>
                <tr>
                    <td align="left">Phone No. :</td>
                    <td align="left">{{requestDetail?.phone | mask:'(000) 000-0000'||'--'}}</td>
                </tr>
               <!--  <tr>
                    <td align="left">Email Address :</td>
                    <td align="left">{{requestDetail?.email ||'--'}}</td>
                </tr> -->
            </table>
        </div>
    </div>
    <div class="col-lg-7  col-xl-7 padding-right">
        <div class="Post-card">
            <div class="row">
                <div class="col-lg-6 col-xl-6">
                    <div class="post-servces">
                        <p class="tracking-detial">Post Office Form</p>
                        <div class="adminAdded"*ngIf="requestDetail?.user?.addedBy=='subAdmin'">
                            The customer is added by subAdmin
                        </div>
                    </div>
                </div>
                <div class="col-lg-6  col-xl-6" *ngIf="requestDetail?.user?.addedBy=='self'">
                    <div class="pdf-download ml-auto">
                        <!-- <span class="file-icons"><a [href]="requestDetail?.postOfficeForm?.documentUrl" target="blank"><img src="../../../../assets/images/admin/pdf-download.svg" /></a> </span> -->
                        <span class="file-icons" (click)="openForm(requestDetail)"><img src="../../../../assets/images/admin/pdf-download.svg" /> </span>

                        <!-- <div class="down">
                           <a [href]="requestDetail?.postOfficeForm?.documentUrl" target="blank"> <img [src]="'../../../../assets/images/download.svg'" /></a>
                        </div> -->
                        <div class="down" (click)="openForm(requestDetail)">
                           <img [src]="'../../../../assets/images/download.svg'" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="id-card">
            <div class="font-14 notarised">
                <p class="font-600">Notarised ID and KYC proofs</p>
            </div>
            <div class="row" *ngIf="requestDetail?.user?.addedBy=='self'">
                <div class="col-lg-5 pr-2">
                    <!-- {{requestDetail?.proofDocument | json}} -->
                    <div class=" font-14 mt-3 mb-2 l-black">Proof 1</div>
                    <div class="upload-proof-admin">
                        <a [href]="requestDetail?.proofDocument?.documents[0]?.url" target="_blank"><img [src]="requestDetail?.proofDocument?.documents[0]?.url" alt="" />
                    </a>
                        </div>
                </div>
                <div class="col-lg-5 pl-2">
                    <div class=" font-14 mt-3 mb-2 l-black">Proof 2</div>
                    <div class="upload-proof-admin" >
                        <a [href]="requestDetail?.proofDocument?.documents[1]?.url" target="_blank"> <img [src]="requestDetail?.proofDocument?.documents[1]?.url" alt="" />
                        </a>
                    </div>

                </div>
            </div>
            <div class="adminAdded"*ngIf="requestDetail?.user?.addedBy=='subAdmin'">
                The customer is added by subAdmin
            </div>
        </div>
    </div>
</div>
<div class="row mb-3 ">
    <div class="col-lg-5 col-xl-5 padding-both mb-3 d-none">
        <div class="video">
            <p class="font-600">Video Call Request</p>
            <div class="select-service user-name-detail">
                <p>Saurabh Saini</p>
                <span>30 Minute Call</span>
            </div>
            <div class="col-lg-8 col-xl-8">
                <div class="time">
                    <span class="globe"><img src="../../../../assets/images/admin/clock.svg"></span>
                    <p>30 min</p>
                </div>
                <div class="time">
                    <span class="globe"><img src="../../../../assets/images/admin/calender.svg"></span>
                    <p>9:00am - 9:30am, Thursday, January 19, 2023</p>
                </div>
                <div class="time">
                    <span class="globe"><img src="../../../../assets/images/admin/time-zone.svg"></span>
                    <p>India Standard Time</p>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-12 col-xl-12 padding-right">
        <div class="btn-div mt-5">
            <button class="btn btn-reject" (click)="rejectRequest(requestDetail?.id);">Reject</button>
            <button class="btn btn-Approve" (click)="Assignmailbox(requestDetail?.id)">Approve</button>
        </div>
      
     </div>

</div>
