.upload-proof-admin > a > img {
    height: 110px;
    display: flex;
    justify-content: center;
    width: 236px;
    border-radius: 10px;
  }
  
  /* span>a>img{
      height:100px
  } */
  span.file-icons {
    justify-content: center;
    align-items: baseline;
    display: flex;
    width: 18%;
  }
  span.file-icons > a > img {
    width: 66%;
    margin-top: 8px;
    display: flex;
    justify-content: end;
    float: right;
    margin-right: 2px;
  }
  .adminAdded {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
  }
  .down{
    margin: 0px;
  }
  .loader {
    background: blur;
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 10000;
    stroke: #f44336 !important;
  }
  .loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(235, 231, 231, 0.7);
    z-index: 9999;
    display: block !important;
  }