.addresNot{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;

}
.form-field-addd > .form-group {
  height: 43px;
}
img.form-append.addlist-icon.ng-star-inserted {
  width: 10px;
}
.download-icon.exportOnly {
  width: 75px;
  display: flex;
  justify-content: center;
}

@media (max-width:767px){
  .box-set{
  margin-right: 5px;
  }
}