<div class="row">
    <div class="col-lg-12 pt-2 blur-open">
        <p class="font-16 color-white">User submitted this item as : Open and Scan</p>
    </div>
</div>
<div class="row pt-3">
<div class="col-lg-1 col-xl-3 re">
    <div class="images-upload">
        <img *ngIf="firstImg && getImageName(firstImg) == 'pdf'" (click)="openAndview(firstImg)"  class="uploadedImg" src="../../../../../assets/images/file.svg"> <mat-icon *ngIf="firstImg" (click)="firstImg = ''">delete</mat-icon>
        <img *ngIf="firstImg && getImageName(firstImg) != 'pdf'"  class="uploadedImg" [src]="firstImg"> <mat-icon *ngIf="firstImg" (click)="firstImg = ''">delete</mat-icon>
        <img *ngIf="!firstImg"(click)="uploadFirstImg.selectFile()" src="../../../../../assets/images/camera.svg">
        <file-uploader #fileUploader="FileUploader"></file-uploader>
                    <app-uploader-ui
                      #uploadFirstImg
                      [fileUploader]="fileUploader"
                      (afterUploadFile)="selectfirstImg($event)"
                    ></app-uploader-ui>
    </div>
</div>
<div class="col-lg-1 col-xl-3 re">
    <div class="images-upload">
        <img *ngIf="secondImg && getImageName(secondImg) == 'pdf'" (click)="openAndview(secondImg)" class="uploadedImg" src="../../../../../assets/images/file.svg"> <mat-icon *ngIf="secondImg" (click)="secondImg = ''">delete</mat-icon>
        <img *ngIf="secondImg && getImageName(secondImg) != 'pdf'" class="uploadedImg" [src]="secondImg"><mat-icon *ngIf="secondImg"  (click)="secondImg = ''">delete</mat-icon>
        <img *ngIf="!secondImg"(click)="uploadSecondImg.selectFile()" src="../../../../../assets/images/camera.svg">
        <file-uploader #fileUploader="FileUploader"></file-uploader>
                    <app-uploader-ui
                      #uploadSecondImg
                      [fileUploader]="fileUploader"
                      (afterUploadFile)="selectSecondImg($event)"
                    ></app-uploader-ui>
    </div>
</div>
<div class="col-lg-1 col-xl-3 re">
    <div class="images-upload">
        <img *ngIf="thirdImg && getImageName(thirdImg) == 'pdf'" (click)="openAndview(thirdImg)" class="uploadedImg" src="../../../../../assets/images/file.svg"> <mat-icon *ngIf="thirdImg" (click)="thirdImg = ''">delete</mat-icon>
        <img *ngIf="thirdImg && getImageName(thirdImg) != 'pdf'" class="uploadedImg" [src]="thirdImg"> <mat-icon *ngIf="thirdImg" (click)="thirdImg = ''">delete</mat-icon>
        <img *ngIf="!thirdImg"(click)="uploadThirdImg.selectFile()" src="../../../../../assets/images/camera.svg">
        <file-uploader #fileUploader="FileUploader"></file-uploader>
                    <app-uploader-ui
                      #uploadThirdImg
                      [fileUploader]="fileUploader"
                      (afterUploadFile)="selectThirdImg($event)"
                    ></app-uploader-ui>
    </div>
</div>
<div class="col-lg-1 col-xl-3 re">
    <div class="images-upload">
        <img *ngIf="fourthImg && getImageName(fourthImg) == 'pdf'" (click)="openAndview(fourthImg)"  class="uploadedImg" src="../../../../../assets/images/file.svg"> <mat-icon *ngIf="fourthImg" (click)="fourthImg = ''">delete</mat-icon>
        <img *ngIf="fourthImg  && getImageName(fourthImg) != 'pdf'" class="uploadedImg" [src]="fourthImg"><mat-icon *ngIf="fourthImg"  (click)="fourthImg = ''">delete</mat-icon>
        <img *ngIf="!fourthImg"(click)="uploadFourthImg.selectFile()" src="../../../../../assets/images/camera.svg">
        <file-uploader #fileUploader="FileUploader"></file-uploader>
                    <app-uploader-ui
                      #uploadFourthImg
                      [fileUploader]="fileUploader"
                      (afterUploadFile)="selectFourthImg($event)"
                    ></app-uploader-ui>
    </div>
</div>
</div>
<div class="row  mt-2 pt-4">
    <div class="col-lg-12 justify-center mobile-div">
        <button class="make-change ml-2 request-btn" (click)="dialogRef.close(false);">cancel</button>
        <button class="theme-btn white-btn mr-2 back-red back-request" (click)="submit()">Submit</button>
        
    </div>
</div>
