<section class="bg-info">
    <div class="row justify-between-md-center">
        <div class="col-lg-3 pl-2">
            <img class="img-logo1" src="../../../../assets/images/newLogo4.png" alt="" />
        </div>
        <div class="col-lg-6 mt-3">
            <div class="text-center font-36 fw-6">Payment   <span class="getStarted font-600">Options</span></div>
            <div class="text-center font-16 l-black">
                Please select your payment Option
            </div>
        </div>
      
    </div>
    <div class="row justify-between-md-center pb-4 mt-3 padding-m">       
          <div class="col-lg-6 mt-2 offset-lg-3">                  
                    <div class="row">
                        <div class="col-12 mt-2">
                            <div class="white-form-card1">
                                <div class="row">
                                    <div class="header-shippment">
                                        <div class="card-tag float-left">
                                            <p class="scondry-color">Please Select Card</p>
                                        </div>
                                        <div class="add-card float-right">
                                            <button class="btn btn-addnewcard" routerLink="/client/add-shipment/addcards">+ Add New Card</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="mt-2 pt-5 pt-70">
                                        <img src="../../../../assets/images/website-development.svg" />
                                    </div>
                                </div>
        
                                <div class="footer-text justify-content-md-center pt-5 mb-2">
                                    <p class="text-center">No card added yet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
               </div>      
  
</section>
