<div class="row">
    <div class="col-lg-12 justify-between-md-center pt-3">
        <h3 class="font-16 font-500">Assign Scan </h3>
    </div>
</div>

<form class="">
<div class="row  pt-2">

    <div class="col-lg-12 col-xl-12 pr-2">
        <div >
            <div class="g">
                <form-field [errorControl]="scanCount"  name=" scan count">
                    <input type="text" class="form-control forgot-pass"
                placeholder="scan count" NumberInput maxlength="2" [formControl]="scanCount" />
                </form-field>
            </div>
        </div>
    </div>
</div>
</form>
   
<div class="row justify-center">
    <div class="justify-center pt-3">
        <button type="button" class="theme-btn white-btn mr-2 back-red" (click)="this.dialogRef.close(false)">Back</button>
        <button type="button" class="theme-btn red ml-2" [disabled]="isLoading" (click)="submit()">Submit</button>
    </div>
</div>
