<!-- <section>
    <div class="navigation">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="assets/images/newLogoHome.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page">Home</a>
                        <a routerLink="/sign-up" class="nav-link">Sign up</a>
                        <a routerLink="/login" class="nav-link">sign in</a>
                        <a href="https://www.shipdistrict.com/" class="nav-link" >ship district</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section> -->
<div  class="main-section">
<header>
  <div class="headermain">
    <div class="container">
      <div class="row">
        <!-- <div class="col">
          
        </div> -->
          <!-- <div class="col g-2 align-items-center">  -->
          <div class="col">
            <div class="logoH">
              <img src="assets/images/newLogoHome.png" alt="" />
            </div>
            <div class="col d-none d-lg-block">
              <div class="navigation left_text">
                <ul>
                  <li class="nav-item">
                    <a class="nav-link active">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/sign-up">Sign up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/login">sign in</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.shipdistrict.com/"
                      >ship district</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div
            class="toggle_Btn d-block d-lg-none"
            (click)="show = !show"
            [ngClass]="show ? 'navbarActive' : 'toggle_Btn'"
          >
            <span></span>
            <span></span>
            <span></span>
            <div class="sidevar">
              <img src="assets/images/newLogoHome.png" alt="" />
              <ul>
                <li class="nav-item">
                  <a class="nav-link active">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/sign-up">Sign up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/login">sign in</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.shipdistrict.com/"
                    >ship district</a
                  >
                </li>
              </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
  </div>
</header>
<section>
  <div class="shipping">
    <div class="container">
      <div class="row">
        <div class="ship-heading">
          <h2>Shipping and Mailboxes are only a click away</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="no-need">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-3">
          <img src="assets/images/InternetExpress_get shipping.png" alt="" />
        </div>
        <div class="col-sm-6">
          <div class="need-para px-4">
            <h2>No need to call or come in</h2>
            <p>
              With Ship District&reg; Internet Express you get our shipping
              and
              mailbox services right on your mobile phone, tablet or
              computer.
              How's that for that 21st century convience?
            </p>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <img class="aro" src="assets/images/arrow.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="no-fast">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-3">
          <img src="assets/images/InternetExpress_web_weigh.png" />
        </div>
        <div class="col-sm-6">
          <div class="need-para px-4">
            <h2>Fast, easy and low-cost shipping</h2>
            <p>
              With the Ship District&reg; Internet Express, you can print
              postage
              from major carriers such as UPS and FedEx at a discounted rate,
              domestic or international.
            </p>

            <p>
              All you need is a scale and tape measure to weigh and measure
              the package (round up all dimensions and weight to ensure no
              additional charges). Drop off at any UPS, FedEx, US Post
              office, or
              our store. Or we can come to pick it up. Whatever works for you.
            </p>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <img src="assets/images/InternetExpress_drop it off.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="see">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="need-para px-4">
            <h2>See what's in your mailbox</h2>
            <p>
              It's all right there on your screen thanks to Ship District&reg;
              Internet Express. We automatically scan your unopened mail
              and packages
              for your review. Just log into your Business or Personal
              Mailbox
              for a look-see. Then, decide what to toss, what to hold for
              pickup,
              or have us forward to your location. it's like having a personal
              assistant to help you organize.
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <img src="assets/images/InternetExpress_mailbox.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="no-fast">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-3">
          <img src="assets/images/InternetExpress_hello.png" />
        </div>
        <div class="col-sm-6">
          <div class="need-para px-4">
            <h2>Customer service with live operators - What a Concept</h2>
            <p>
              Questions? Problems? Lonely? Ship District&reg; Internet
              Express
              has real, trained, and knowledgeable customer service reps to
              answer your shipping or mailbox questions. So, call or email.
              Because sometimes it's nice to hear you are doing it right.
            </p>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <img
            src="assets/images/InternetExpress_customer sevrvice.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="footer-sec">
    <div class="footer-heading">
      <h2>
        To start enjoying the benefits of Ship District &reg; Internet Express,
        Click <a class="nav-link active" routerLink="/sign-up">here</a>
      </h2>
    </div>
  </div>
</section>
</div>