<div class="row">
    <div class="col-lg-12 justify-between-md-center pt-3">
        <div class="invit-div">
            <p class="font-500 text-center">Edit Default Margin </p>
        </div>
    </div>
</div>
<div class="row justify-center">
    <div class="col-lg-9 col-xl-9 justify-between-md-center">
        <label class="font-14">Default Margin </label>
        <form-field [errorControl]="margin" name="margin value">
            <input type="text" NumberInput maxlength="2" class="form-control forgot-pass" [formControl]="margin"
                placeholder="10%" />
        </form-field>
    </div>
    <div class="justify-center my-3">
        <button class="theme-btn white-btn mr-2 back-red" (click)="this.dialogRef.close(false)">Cancel</button>
        <button class="theme-btn red ml-2" (click)="updateDiscount()"> Save Details </button>
    </div>

</div>