.error{
  color: red;
  text-align: left;
  font-size: 10px!important;
  font-weight: 500;
}

.days-doller {
  width: 10px!important;
  border: 2px dotted !important;
  border: 1px solid #cecece !important;
  border-radius: 9px;
  width: 188px !important;
  height: 30px;
  margin-top: 15px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
 .form-group{
  display: flex;
  width: 100%;
  padding: 5px 12px 0px 8px!important;
  border-radius: 10px;
  border: 1px solid #AFB0C9;
  align-items: center;
  margin-bottom: 0px;
  min-height: 23px!important;
  background: #ffffff 0% 0% no-repeat padding-box;
}
