<section class="bg-info">
    <div class="row justify-between-md-center">
        <div class="col-3 pl-2">
            <img class="img-logo1" src="../../../../assets/images/newLogo4.png" alt="" />
        </div>
        <div class="col-6 mt-3">
            <div class="text-center font-36 fw-6">Delete <span class="getStarted font-600">Card   </span></div>
          </div>      
    </div>
    <div class="row justify-between-md-center pb-4 mt-2">     
          <div class="col-6 mt-3 offset-lg-3">                  
            <div class="row">
                <div class="col-12 mt-2">
                    <div class="white-form-card1">
                                <div class="row">
                                    <div class="col-lg-10 float-left"><p class="scondry-color">Delete Card</p></div>
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="mt-2 pt-5 pt-50">
                                    <img src="../../../../assets/images/deleted.svg">
                                </div>                                  
                            </div>
                              <div class="footer-text col-lg-12  pt-5 mb-2">
                                <p class="text-center justify-center">Are you sure you want to delete a card</p>
                              </div>                                                      
                                <div class="justify-center mt-4 mb-4">
                                    <button class="theme-btn white-btn mr-2 back-red" routerLink="/account-type">Cancel</button>
                                    <button class="theme-btn red ml-2">Delete</button>
                              </div>     
                            </div>
                        </div>
                    </div>
                    </div>
                
            </div>
       
  
</section>
