<!-- <p>dashboard works!</p> -->
<app-admin-header [pageName]="'Customerlist/User List'"></app-admin-header>
<div class="content">
    <div class="inner-dashbaord pt-3">
        <div class="shippment-form-card">
            <div class="row">
                <div class="col-lg-6 col-xl-3 pr-2 pl-2 padding-l">
                    <div>
                      <form-field>
                        <input type="text" [(ngModel)]="search" (keyup)="searchCustomer($event)" placeholder="Search..." class="form-control font-family" />
                        <img *ngIf="!search" src="../../../../assets/images/search.svg" class="form-append" />
                        <img *ngIf="search" (click)="search = ''; getCustomerList();" src="../../../../assets/images/close-icon.svg" class="form-append" />
                        </form-field>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-2 pr-2">
                    <div>
                        <img *ngIf="!status" src="../../../../assets/images/fillter-date.svg" class="filter-icon" />
                        <img *ngIf="status" (click)="status = ''; getCustomerList();" src="../../../../assets/images/close-icon.svg" class="filter-icon" />
                        <div class="Filter-status">
                            <form-field>
                                <mat-select [(ngModel)]="status"  (selectionChange)="getCustomers();"   class="form-control filter-status1" placeholder="Filter by Status">
                                    <mat-option value="active,inactive">All</mat-option>
                                    <mat-option value="active" >Active</mat-option>
                                    <mat-option value="inactive">Inactive</mat-option>
                                    <mat-option value="pending">Pending</mat-option>
                                </mat-select>
                            </form-field>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-2 pr-2">
                    <div>
                        <img *ngIf="!accountType" src="../../../../assets/images/fillter-date.svg" class="filter-icon" />
                        <img *ngIf="accountType" (click)="accountType = '';getCustomerList();" src="../../../../assets/images/close-icon.svg" class="filter-icon" />
                        <div class="Filter-status">
                            <form-field>
                                <mat-select [(ngModel)]="accountType"(selectionChange)="getCustomerList();" class="form-control filter-status1" placeholder="Filter by Type">
                                    <mat-option value="shipment">Shipment</mat-option>
                                    <mat-option value="virtualMailBox">Mailbox</mat-option>
                                    <mat-option value="both">Both</mat-option>
                                </mat-select>
                            </form-field>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-2 pr-2">
                    <div>
                        <img *ngIf="!position" src="../../../../assets/images/fillter-date.svg" class="filter-icon" />
                        <img *ngIf="position" (click)="position = ''; getCustomerList();" src="../../../../assets/images/close-icon.svg" class="filter-icon" />
                        <div class="Filter-status">
                            <form-field>
                                <mat-select [(ngModel)]="position"  (selectionChange)="getCustomers();"   class="form-control filter-status1" placeholder="Filter by Group">
                                    <mat-option value="normal">Normal</mat-option>
                                    <mat-option value="pro" >Pro</mat-option>
                                    <mat-option value="vip">Vip</mat-option>
                                </mat-select>
                            </form-field>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3 justify-center pr-2 butn-display ml-auto">
                    <button class="theme-btn white-btn mr-2 back-red bulk-shipment"
                    (click)="invitecustomer()">Invite Customer</button>
                    <button class="theme-btn orange ml-1 create-shipment"
                        routerLink="/admin/newcustomer">+ Add Customer</button>
                </div>
            </div>
            <div class="hr">
                <hr />
            </div>
            <div class="row">
                <div class="col-lg-12 tble-res" *ngIf="customerList && customerList.length>0 && !isLoading">
                    <table class="table table-responsive shippment-table mb-5">
                        <tr>
                            <th>Customer ID<i class="short"><img (click)="sortCustomerList()" src="../../../../assets/images/shorting-icon.svg"></i> </th>
                            <th>Customer Name </th>
                            <th>Email </th>
                            <th>City </th>
                            <th>Account Type </th>
                            <th>User Type </th>
                            <th>Shipment status </th>
                            <th>Mailbox status </th>
                            <th>Status </th>
                            <th></th>
                        </tr>
                        <tr class=" pointer" *ngFor="let item of customerList">
                            <td routerLink="/admin/customerlist/customer-detail/{{item?.id}}">{{item?.UniqueId || "--"}}</td>
                            <td routerLink="/admin/customerlist/customer-detail/{{item?.id}}">{{item?.fullName || "--"}}</td>
                            <td routerLink="/admin/customerlist/customer-detail/{{item?.id}}">{{item?.email || '--' }}</td>
                            <td routerLink="/admin/customerlist/customer-detail/{{item?.id}}" class="lowerText">{{item?.currentProfile?.city || "--"}}</td>
                            <td routerLink="/admin/customerlist/customer-detail/{{item?.id}}">{{item?.accountType}}</td>
                            <td routerLink="/admin/customerlist/customer-detail/{{item?.id}}">{{item?.userPositionTag?item?.userPositionTag:'normal'}}</td>
                            <td routerLink="/admin/customerlist/customer-detail/{{item?.id}}"><button class="btn" [ngClass]="showShipmentProfileStatus(item)=='rejected'? 'in-transit':'in-deliverd' ">{{showShipmentProfileStatus(item) | titlecase}}</button></td>
                            <td routerLink="/admin/customerlist/customer-detail/{{item?.id}}"><button class="btn" [ngClass]="showMailboxProfileStatus(item)=='rejected'? 'in-transit':'in-deliverd' ">{{showMailboxProfileStatus(item)| titlecase}}</button></td>
                            <td routerLink="/admin/customerlist/customer-detail/{{item?.id}}"><button class="btn" [ngClass]="item?.status=='inactive'? 'in-transit':'in-deliverd' ">{{item?.status| titlecase}}</button></td>
                            <td>
                                <img *ngIf="item?.status!=='deleted'" [matMenuTriggerFor]="menu" src="../../../../assets/images/dots.svg" />
                                <mat-menu xPosition="before" #menu="matMenu">
                                    <!-- <button class="font-10  mat-menu-item">Reset Password</button>
                                    <button class="font-10  mat-menu-item">Send Email</button> -->
                                    <button *ngIf="item?.status=='active'" (click)="userAction(item?.id,'inactive')" class="font-10  mat-menu-item">Inactive</button>
                                    <button *ngIf="item?.status=='inactive'" (click)="userAction(item?.id,'active')" class="font-10  mat-menu-item">Active</button>
                                    <button class="font-10  mat-menu-item" (click)="userAction(item?.id,'deleted')">Delete</button>
                                    <button class="font-10  mat-menu-item" (click)="hardDelete(item?.id)">Permanent Delete</button>
                                    <!-- <button *ngIf="item?.status=='active' && item?.accountType !='shipment'" class="font-10  mat-menu-item" (click)="givePlan(item?.id)">Give Plan</button>-->  <!--remove option ass discussed with client -->
                                    <button *ngIf="item?.status=='active' && item?.userPositionTag!='vip'&& item?.accountType !='virtualMailBox'" class="font-10  mat-menu-item" (click)="addToVip(item?.id,'vip')">Add to vip</button>
                                    <button *ngIf="item?.status=='active' && item?.userPositionTag=='vip'" class="font-10  mat-menu-item" (click)="addToVip(item?.id,'normal')">Remove From Vip</button>
                                    <button *ngIf="item?.status=='active'" class="font-10  mat-menu-item" (click)=" addToVip(item?.id,item?.userPositionTag!=='pro'?'pro':'normal')">{{item?.userPositionTag!=='pro'?'Add To Pro':'Remove From Pro'}}</button>
                                    <button  *ngIf="showShipmentProfileStatus(item)=='rejected' && (showMailboxProfileStatus(item)=='approved' || showMailboxProfileStatus(item)=='pending')" class="font-10  mat-menu-item" (click)="deleteCustomerProfile(item,'shipment')">Delete Shipment Profile</button> 
                                    <button  *ngIf="showMailboxProfileStatus(item)=='rejected' && (showShipmentProfileStatus(item)=='approved'||showShipmentProfileStatus(item)=='pending')" class="font-10  mat-menu-item" (click)="deleteCustomerProfile(item,'virtualMailBox')">Delete Mailbox Profile</button> 
                                </mat-menu>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="col-lg-12 tble-res" *ngIf="customerList && customerList.length==0 && !isLoading">
                    <div class="noRequest">No Customer Found</div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination" *ngIf="customerList && customerList.length>0 && !isLoading">
      <pagination
        [(pageNo)]="pageNo"
        [(pageSize)]="pageSize"
        (page)="getCustomerList()"
        [totalRecords]="totalRecords || 0"
      ></pagination>
  </div>
</div>
