<app-admin-header [pageName]="'Shipment Request'"></app-admin-header>
<div class="content">
    <div class="inner-dashbaord pt-3">
        <div class="shippment-form-card">
            <div class="row">
                <div class="col-lg-6 col-xl-3 pr-2 pl-2 padding-l">
                    <div>
                        <!-- <img src="../../../../assets/images/search.svg" class="searching-icon" />
                        <form-field>
                            <input type="text" placeholder="Search..." class="form-control font-family" />
                        </form-field> -->

                        <form-field>
                            <input [(ngModel)]="search"
                            (keyup)="searchAddress($event)" type="text" placeholder="Search..." class="form-control font-family" />
                            <img *ngIf="!search" src="../../../../assets/images/search.svg" class="form-append searching-icon" />
                            <img class="form-append" *ngIf="search" (click)="search = '';getShipmentRequestList();" src="../../../../assets/images/close-icon.svg" />
                        </form-field>
                    </div>
                </div>
            </div>
            <div class="hr">
                <hr />
            </div>
            <div class="row">
                <div class="col-lg-12 tble-res " *ngIf="requestList &&requestList.length>0">
                    <table class="table table-responsive shippment-table">
                        <tr>
                            <th>Name <i class="short"><img (click)="sortMailboxRequestList()" src="../../../../assets/images/shorting-icon.svg"></i></th>
                            <th>Company Name</th>
                            <th>Phone No</th>
                            <th>Address1</th>
                            <th>Address2</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Status </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <!-- align="center" -->
                        </tr>
                        <tr class="pointer" *ngFor="let item of requestList" >
                            <td>{{item?.name}}</td>
                            <td>{{item?.companyName || '--'}}</td>
                            <td>{{item?.phone || '--'}}</td>
                            <td >{{item?.address1 || '--'}}</td>
                            <td >{{item?.address2 || '--'}}</td>
                            <td> {{item?.city || '--'}}</td>
                            <td> {{item?.state || '--'}}</td>
                            
                            <td><button class="btn in-pending">{{item?.status}}</button></td>
                            <td></td>
                            <td></td>

                            <td>
                                <img [matMenuTriggerFor]="menu" src="../../../../assets/images/dots.svg" />
                                <mat-menu xPosition="before" #menu="matMenu">
                                    <button class="font-10 mat-menu-item" (click)="approveRequest(item?.id)">
                                        Approve
                                    </button>
                                    <button class="font-10  mat-menu-item" (click)="rejectRequest(item?.id)">Reject</button>
                                </mat-menu>
                            </td>

                        </tr>
                    </table>

                </div>
                <div class="col-lg-12 tble-res" *ngIf="!isLoading&&requestList&& requestList.length==0">

                    <div class="noRequest">
                        <span>No shipment account request found {{this.search?'for'+ ' ' + this.search : ''}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
      <pagination *ngIf="!isLoading&&requestList&& requestList.length>0"
        [(pageNo)]="pageNo"
        [(pageSize)]="pageSize"
        (page)="getShipmentRequestList()"
        [totalRecords]="totalRecords || 0"
      ></pagination>
    </div>
</div>

