<app-admin-header [link]="'/admin/subAdmins'" [icon]="true" [pageName]="'Back'"></app-admin-header>
<div class="d-none" [class.loading]="isloading">
    <mat-progress-spinner
      *ngIf="isloading"
      class="loader"
      [color]="'warn'"
      [mode]="'indeterminate'"
      [value]="'30'"
      stroke="f44336"
    >
    </mat-progress-spinner>
  </div>
<div *ngIf="this.customerDetail && !isloading">
<div class="row">
    <div class="col-lg-6 col-xl-6 padding-both">
        <div class="white-form-card1">
            <div class="edit-servces">
                <p class="float-left">Sub-admin Details</p>
            </div>
            <table class="sender-info admin-table-services" width="100%">
                <tr>
                    <td align="left">ID :</td>
                    <td align="left">{{customerDetail?.UniqueId}}</td>
                </tr>
                <tr>
                    <td align="left">Name :</td>
                    <td align="left">{{customerDetail?.fullName || '--'}}</td>
                </tr>
                <tr>
                    <td align="left">Phone No. :</td>
                    <td align="left">{{customerDetail?.phone||'--'}}</td>
                </tr>
                <tr>
                    <td align="left">Email Address :</td>
                    <td align="left" class="lowertext">{{customerDetail?.email || ''}}</td>
                </tr>
               
            </table>
        </div>
    </div>
    <div class="col-lg-6 col-xl-6 padding-right">
        <div class="white-form-card1 ">
            <div class="edit-servces admin-address">
                <p class="float-left">Address Details</p>
            <table class="sender-info" width="100%">
                <tr>
                    <td align="left">Address :</td>
                    <td align="Right">{{this.customerDetail?.address1 || this.customerDetail?.address || '--'}}</td>
                   
                </tr>
                <tr>
                    <td align="left">PhoneNo. :</td>
                    <td align="Right">{{this.customerDetail?.phone|| '--'}}</td>
                </tr>
                <tr>
                    <td align="left">City/State :</td>
                    <td align="Right">{{this.customerDetail?.state|| '--'}}</td>
                    <!-- ({{this.customerDetail?.state|| '--'}}) -->
                </tr>
                <tr >
                    <td align="left">Country :</td>
                    <td align="Right">{{this.customerDetail?.country||'--'}}</td>
                    
                </tr>
                <tr>
                    <td align="left">Zip Code :</td>
                    <td align="Right">{{this.customerDetail?.zipCode|| '--'}}</td>
                </tr>
            </table>
        </div>   
    </div>
</div>
