<section class="bg-info">
    <div class="row justify-between-md-center">
        <div class="col-lg-3 pl-2">
            <img class="img-logo1" src="../../../../assets/images/newLogo4.png" alt="" />
        </div>
        <div class="col-lg-6 mt-3">
            <div class="text-center font-36 fw-6">Send To  <span class="getStarted font-600">Trash   </span></div>
          </div>      
    </div>
    <div class="row justify-between-md-center pb-4 mt-2">     
          <div class="col-lg-6 mt-3 offset-lg-3">                  
            <div class="row">
                <div class="col-lg-12 mt-2 padding-m">
                    <div class="white-form-card1">
                            <div class=" text-center">
                                    <div class="mt-2 pt-5 pt-50 text-center">
                                    <img src="../../../../assets/images/deleted.svg">
                                </div>                                  
                            </div>
                              <div class="footer-text col-lg-12  pt-5 mb-2">
                                <p class="text-center justify-center">Are you sure you want to send this mail to trash ?</p>
                              </div>                                                      
                                <div class="justify-center mt-4 mb-4">
                                    <button class="theme-btn white-btn mr-2 back-red" routerLink="/client/inbox">Cancel</button>
                                    <button class="theme-btn red ml-2" routerLink="/client/inbox">Confirm</button>
                              </div>     
                            </div>
                        </div>
                    </div>
                    </div>
               </div>
   
</section>
