.draft-shipment-dash, .pervious-shipment-dash, .create-shipment-dash{
    cursor: pointer;
}
canvas {
    width: 100% !important;
    height: 100% !important;
  }

  .dounght {
    display: flex;
    justify-content: center;
}
.filter-date input {
    margin-left: 0px;
    height: 35px;
    margin-top: 0px !important;
    padding: 6px 0px;
}
.countStartDate{
    width :125px
}
.dateFilter{
    justify-content: space-between;
}
.countText{
    display: flex;
    align-items: center;
}
.filter-date {
    border: 1px solid #afb0c9;
    border-radius: 10px;
    padding: 6px 0px;
    height: 46px;
    margin-top: 2px;
    background-color: #fff;
}
.noData{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80%;
}


@media (max-width:991px){
    .dateFilter{
        flex-wrap: wrap;
    }
    .date-box{
        flex-wrap: wrap !important;
    }
    img.form-append.mr-2{
        margin-top: 0;
    }
    img.ng-star-inserted{
        height: unset;
    }
    .filter-date input{
        width: 70%;
    }
}


@media (min-width:1000px) and (max-width:1166px){
    .filter-date input{
        width: 62% !important;
    }
    .date-box{
        flex-direction: column;
    }
    .dateFilter{
        flex-direction: column;
    }
}