<app-admin-header [pageName]="'Address List'" ></app-admin-header>
<div class="content ">
    <div class="inner-dashbaord  pt-3 mb-3 pb-4">
        <div class="shippment-form-card ">
            <div class="row b-2">
                <div class="col-lg-6  col-xl-3 pr-2 pl-2 padding-l mobile-serach ">
                    <div >
                        <form-field>
                            <input [(ngModel)]="search"
                            (keyup)="searchAddress($event)" type="text" placeholder="Search..." class="form-control font-family" />
                            <img *ngIf="!search" src="../../../../assets/images/search.svg" class="form-append searching-icon" />
                            <img class="form-append" *ngIf="search" (click)="search = '';getAddressList();" src="../../../../assets/images/close-icon.svg" />
                        </form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-2 pr-2 cursor">
                    <div>
                        <img src="../../../../assets/images/fillter-date.svg" class="filter-icon" />
                        <!-- <img *ngIf="addressType" (click)="addressType = ''; getAddressList();" src="../../../../assets/images/close-icon.svg" class="filter-icon" /> -->
                        <div class="Filter-status">
                            <form-field>
                                <mat-select [(ngModel)]="addressType" (selectionChange)="getAddressList();" class="form-control filter-status1" placeholder="Filter by Tags">
                                    <mat-option value='byUser'>Created</mat-option>
                                    <mat-option value='byExcel'>Imported</mat-option>
                                </mat-select>
                            </form-field>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-xl-3 ml-auto addres-list pr-4">

                    <!-- <button class="theme-btn orange ml-1 create-shipment" routerLink="/admin/newaddress">+
                        New Address</button> -->
                        <div class="download-icon exportOnly" *ngIf="addressType != 'byExcel'">
                  <span class="don-icon"  (click)="exportAddressLIst()"><img src="../../../../assets/images/file-download.svg"></span>
                </div>
                    <div class="download-icon" *ngIf="addressType == 'byExcel'">
                        <span class="file-icon"  (click)="selectFile1.selectFile()"><img src="../../../../assets/images/file-up.svg"></span>
                        <file-uploader #fileUploader="FileUploader" [path]="'addresses/import'"></file-uploader>
                <app-uploader-ui
                  #selectFile1
                  [fileUploader]="fileUploader"
                  (afterUploadFile)="uploadFile($event)"
                  ></app-uploader-ui>
                        <span class="don-icon" (click)="exportAddressLIst()"><img src="../../../../assets/images/file-download.svg"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 tble-res" *ngIf="addressList && addressList.length>0">
                    <table class="table table-responsive address-table ">
                        <tr>
                            <th>Customer <i class="short"><img (click)="sortAddressList()" src="../../../../assets/images/shorting-icon.svg"></i></th>
                            <th>Company</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Country</th>
                            <th>Zip</th>
                            <th>Phone</th>
                            <!-- <th>Tags</th> -->
                            <th></th>
                            <th></th>
                        </tr>
                        <tr *ngFor="let item of addressList" class="">
                            <td>{{item?.name | titlecase}}</td>
                            <td>{{item?.companyName || '--'}}</td>
                            <td class="text-capitalize">{{item?.address1}}{{item?.address2}}{{item?.address3}}</td>
                            <td>{{item?.city  | titlecase}}</td>
                            <td>{{item?.state  | titlecase}}</td>
                            <td>{{item?.country  | titlecase}}</td>
                            <td>{{item?.zipCode}}</td>
                            <td>{{item?.phone}}</td>
                            <!-- {{item?.tags | json}}  (click)="openDialog(item?.tags, item?.id)" (click)="openDialog(item?.tags,item?.id)"-->
                            <td><button class="btn" *ngIf="item?.tags[0]" [ngClass]=" item?.tags[0]?'add-old':''" > {{ item?.tags[0]? item?.tags[0]: '+ Add Tag'}}</button></td>
                            <td><button class="btn" *ngIf="item?.tags[1]" [ngClass]=" item?.tags[1]?'add-old':''" >{{ item?.tags[1]? item?.tags[1]: '+ Add Tag'}}</button></td>
                            <!-- <td>
                                <div><img [matMenuTriggerFor]="menu" src="../../../../assets/images/dots.svg" /></div>
                                <mat-menu xPosition="before" #menu="matMenu">
                                    <button routerLink="/admin/edit-address/{{item?.id}}" class="font-10  mat-menu-item">
                                        Edit
                                    </button>
                                    <button (click)="deleteAddress(item?.id)" class="font-10  mat-menu-item">Delete</button>


                                </mat-menu>
                            </td> -->
                        </tr>
                    </table>

                </div>
                <div class="col-12" *ngIf="addressList && addressList.length == 0 && !isloading">
                    <div class="addresNot my-5"><sapn class="">No address found</sapn></div>
                </div>
            </div>
        </div>

    </div>
    <div class="pagination" *ngIf="addressList && addressList.length>0 && !isloading">
      <pagination
        [(pageNo)]="pageNo"
        [(pageSize)]="pageSize"
        (page)="getAddressList()"
        [totalRecords]="totalRecords || 0"
      ></pagination>
    </div>
</div>
