<section class="">
    <div class="row justify-between-md-center">
        <div class="col-lg-3 col-sm-3 pl-2">
            <img class="img-logo1" src="../../../../assets/images/newLogo4.png" alt="" />
        </div>
        <div class="col-lg-6 col-sm-6 mt-3">
            <div class="text-center font-36 fw-6">Hold For <span class="getStarted font-600">Pickup </span></div>
        </div>
    </div>
    <div class="row justify-content-md-center pb-5">
        <div class="col-lg-7 px-3 mt-2">
            <div class="mt-2">
                <form class="white-form-card">
                    <div class="row">
                        <div class="col-lg-12  pt-4 text-center h-pickup">
                            <img src="../../../../assets/images/getcode.svg" />
                            <p class="pt-3 font-500 ">Please add your pickup code below</p>
                           </div>
                           <div class="col-lg-12  pt-2 text-center h-pickup">
                           <div class="get-code text-center pt-3">
                            <ng-otp-input
                            class="form-control"
                            (onInputChange)="onOtpChange($event)"
                            [config]="inputConfig"
                          ></ng-otp-input>
                          
                          <div class="files"><img src="../../../../assets/images/copy-file.svg"></div>
                           </div>
                          
                          </div>
                        </div>
                        <div class="justify-center pt-1 mt-4 mb-4">                               
                            <button class="theme-btn red ml-2" routerLink="/client/inbox">Close</button>
                        </div>
                    
                </form>
            </div>
        </div>
    </div>
</section>
