a.dowanloadForm.formColor {
  color: #d1363d;
}

input {
  border: none;
  border-bottom: 1px solid #4C4C4C;
  padding: 5px 10px;
  outline: none;
}


span.text-uderline {
  text-decoration: underline;
}

.aggre-ment>p {
  font-size: 14px;
}

.Applicant_bussiness>p {
  margin-bottom: 5px;
  font-size: 14px;
}

input.Agreement-sgn {
  width: 57%;
}

.Applicant_bussiness {
  justify-content: center;
  display: grid;
}

.inupt-errr {
  position: relative;
}

span.mat-err {
  position: absolute;
  left: 1px;
  width: 100%;
  top: 27px;
  font-size: 11px;
}


@media (max-width:1200px) {
  .set-err {
    position: unset !important;
  }
}

@media (max-width:768px) {
  .header-post-mail img {
    width: 120px;
    padding-left: 10px;
  }
}

@media (max-width:992px) {
  .contactBtn {
    top: 42px;
    right: 16px;
  }
}