<div class="row">
    <div class="col-lg-12 pt-2 blur-open">
        <p class="font-16 color-white">You submitted this item as : Open and Scan</p>
    </div>
</div>
<div class="row pt-3">
<div class="col-lg-1 col-xl-3 re">
    <div class="images-upload">
        <img *ngIf="getImageName(images[0]) == 'pdf'" (click)="viewImg(images[0])"  class="uploadedImg" src="../../../../../assets/images/file.svg">
        <img class="uploadedImg" *ngIf="getImageName(images[0]) != 'pdf'" (click)="viewImg(images[0])" [src]="images[0]||'../../../../../assets/images/camera.svg'">
    </div>
</div>
<div class="col-lg-1 col-xl-3 re">
    <div class="images-upload">
        <img *ngIf="getImageName(images[1]) == 'pdf'" (click)="viewImg(images[1])"  class="uploadedImg" src="../../../../../assets/images/file.svg">
        <img *ngIf="getImageName(images[1]) != 'pdf'"class="uploadedImg" (click)="viewImg(images[1])" [src]="images[1]||'../../../../../assets/images/camera.svg'">
    </div>
</div>
<div class="col-lg-1 col-xl-3 re">
    <div class="images-upload">
        <img *ngIf="getImageName(images[2]) == 'pdf'" (click)="viewImg(images[2])"  class="uploadedImg" src="../../../../../assets/images/file.svg">
        <img *ngIf="getImageName(images[2]) != 'pdf'" class="uploadedImg" (click)="viewImg(images[2])" [src]="images[2]||'../../../../../assets/images/camera.svg'">
    </div>
</div>
<div class="col-lg-1 col-xl-3 re">
    <div class="images-upload">
        <img *ngIf="getImageName(images[3]) == 'pdf'" (click)="viewImg(images[3])"  class="uploadedImg" src="../../../../../assets/images/file.svg">
        <img *ngIf="getImageName(images[3]) != 'pdf'" (click)="viewImg(images[3])"  class="uploadedImg"[src]="images[3]||'../../../../../assets/images/camera.svg'">
    </div>
</div>
</div>
<div class="row  mt-2 pt-4">
    <div class="col-lg-12 justify-center mobile-div">
        <!-- <button class="make-change ml-2 request-btn" routerLink="/client/inbox">Request to make a change</button> -->
        <button class="theme-btn white-btn mr-2 back-red back-request" (click)="dialogRef.close()">Back</button>
        
    </div>
</div>

