<section class="bg-info">
    <div class="row justify-between">
        <div class="col-lg-2 pl-2">
            <img class="img-logo1" src="../../../../assets/images/newLogo4.png" alt="" />
        </div>
        <div class="col-lg-6 mt-3 order-2 create-ship">
            <div class="text-center font-36 fw-6">{{!packageId?'Add New':'Edit'}}  <span class="getStarted font-600">Package</span></div>
            <div class="text-center font-16 l-black">
                Please {{!packageId?'add New':'edit'}} Packages
            </div>
        </div>
        <div class="col-lg-1 d-flex order-3 close-file">           
            <div class="close" routerLink="/client/packages">
                <img src="../../../../assets/images/ic_sidemenu.svg" />
            </div>
        </div>
    </div>  
    <div class="row justify-content-md-center pb-5">     
        <div class="col-lg-12 px-3 mt-2">     
          <div class="mt-2">
            <!-- <form class="white-form-card" [formGroup]="PackegeInfoForm" >
              <div class="row">
                  <div class="col-lg-10 float-left"><p class="scondry-color">Package Details</p></div>
                 </div>
              <div class="row">
               <div class="col-lg-4 pr-3">
                  <div class="search-icon-div">
                    <label class="k fw-5 font-14">Package Name <span class="package"><img matTooltip="Info about the action"
                      aria-label="Button that displays a tooltip when focused or hovered over" src="../../../../assets/images/tooltip-icon1.svg"></span></label>
                    <img src="../../../../assets/images/search.svg" class="search-icon">
                    <form-field [errorControl]="PackegeInfoForm.get('packageName')" name="package name">                      
                      <input type="text" formControlName="packageName" placeholder="Add Package Name here..." class="form-control font-family" />
                      </form-field>
                  </div>
                </div>
                <div class="col-lg-4 pr-3">
                  <div>
                    <label class=" fw-5 font-14">Package Type <span class="package"><img matTooltip="Info about the action"
                      aria-label="Button that displays a tooltip when focused or hovered over" src="../../../../assets/images/tooltip-icon1.svg"></span></label>
                    <form-field [errorControl]="PackegeInfoForm.get('packageType')" name="package type">
                     <mat-select class="form-control" formControlName="packageType" placeholder="Your Packaging">
                      <mat-option [value]="data.package_type" *ngFor="let data of packageslist"> {{data.package_name}}</mat-option>
                     </mat-select>                      
                    </form-field>
                  </div>
                </div>
                <div class="col-lg-4 ">
                  <div>
                    <label class=" fw-5 font-14">Units <span class="package"><img matTooltip="Info about the action"
                      aria-label="Button that displays a tooltip when focused or hovered over" src="../../../../assets/images/tooltip-icon1.svg"></span></label>
                    <form-field [errorControl]="PackegeInfoForm.get('packageType')" name="package type" >
                      <mat-select class="form-control" placeholder="Units">
                        <mat-option>Inch</mat-option>
                        <mat-option>Ounce</mat-option>
                        <mat-option>Pond</mat-option>
                    
                       </mat-select>
                    </form-field>
                  </div>
                </div>
                             <div class="col-lg-4 pr-3">
                  <div class="row">
                   <div class="col-lg-6 pr-3">
                  <div>
                    <label class=" fw-5 font-14">Weight <span class="package"><img matTooltip="Info about the action"
                      aria-label="Button that displays a tooltip when focused or hovered over" src="../../../../assets/images/tooltip-icon1.svg"></span></label>
                    <form-field >
                      <input type="text" formControlName="" placeholder="Lbs" class="form-control font-family" />
                    </form-field>
                  </div>
                </div>
                <div class="col-lg-6 ">
                  <div>
                    <label class="fw-5 font-14 label-no ">&nbsp;</label>
                    <form-field >
                      <input type="text" formControlName="" placeholder="Oz" class="form-control font-family" />
                    </form-field>
                  </div>
                </div>
              </div>
                </div>
            <div class="col-lg-4 pr-3">
                  <div class="row">
                   <div class="col-lg-4 pr-3">
                   <div>
                    <label class="fw-5 font-14">Dimensions <span class="package"><img matTooltip="Info about the action"
                      aria-label="Button that displays a tooltip when focused or hovered over" src="../../../../assets/images/tooltip-icon1.svg"></span></label>
                    <form-field >
                      <input type="text" formControlName="" placeholder="Length" class="form-control font-family" />
                    </form-field>
                  </div>
                </div>
                <div class="col-lg-4 pr-3">
                  <div>
                    <label class="fw-5 font-14 label-no ">&nbsp;</label>
                    <form-field>
                      <input type="text" formControlName="" placeholder="Width" class="form-control font-family" />
                    </form-field>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div>
                    <label class="fw-5 font-14 label-no ">&nbsp;</label>
                    <form-field >
                      <input type="text" formControlName="" placeholder="Height" class="form-control font-family" />
                    </form-field>
                  </div>
                </div>
              </div>
        </div>
      <div class="col-lg-4">
                  <div>
                    <label class="fw-5 font-14">Insurance Declared <span class="package"><img matTooltip="Info about the action"
                      aria-label="Button that displays a tooltip when focused or hovered over" src="../../../../assets/images/tooltip-icon1.svg"></span></label>
                    <div class="doller-img"><span class="doller-icon"><img src="../../../../assets/images/doller.svg"/></span></div>
                    <div class="doller-input">
                    <form-field>                    
                      <input type="text" formControlName="" placeholder="" class="form-control font-family" />
                    </form-field>
                  </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div>
                    <label class="fw-5 font-14">Content Description <span class="package"><img matTooltip="Info about the action"
                      aria-label="Button that displays a tooltip when focused or hovered over" src="../../../../assets/images/tooltip-icon1.svg"></span></label>
                    <form-field class="text-field">                  
                    <textarea class="form-control textarea" placeholder="Content Description" rows="3"></textarea>
                  </form-field>
                  </div>
                </div>              
               </div>
              <div class="justify-center mt-4 mb-4">
                <button class="theme-btn white-btn mr-2 back-red"  routerLink="/client/packages">Back</button>
                <button class="theme-btn red ml-2"  routerLink="/client/packages" >Save</button>
              </div>
            </form> -->
            <form class="white-form-card" [formGroup]="PackegeInfoForm">
              <div>
                <p class="scondry-color">Package Information</p>
              </div>
              <div class="row">
                    <div class="col-lg-4 pr-3">
                      <div class="search-icon-div">
                        <label class="k fw-5 font-14"
                          >Package Name
                          <!-- <span class="package"
                            ><img  matTooltip="Info about the action" 
                            matTooltipPosition="right"
                           aria-label="Button that displays a tooltip when focused or hovered over"
                              src="../../../../assets/images/tooltip-icon1.svg" /></span
                        > -->
                      </label>
                        <!-- <img
                          src="../../../../assets/images/search.svg"
                          class="search-icon"
                        /> -->
                        <form-field [errorControl]="PackegeInfoForm.get('packageName')" name="package name">
                          <input
                            type="text"
                            formControlName="packageName"
                            placeholder="Please enter package name"
                            class="form-control font-family"
                          />
                        </form-field>
                      </div>
                    </div>
                    <div class="col-lg-4 pr-3">
                      <!-- {{packageslist | json}}//// -->
                      <div>
                        <label class="fw-5 font-14"
                          >Package Type
                          <span class="package"
                            ></span
                        ></label>
                        <!-- <img  matTooltip="Info about the action" 
                            matTooltipPosition="right"
                           aria-label="Button that displays a tooltip when focused or hovered over"
                              src="../../../../assets/images/tooltip-icon1.svg" /> -->
                        <form-field [errorControl]="PackegeInfoForm.get('packageType')" name="package type">
                          <mat-select
                            class="form-control"
                            formControlName="packageType"
                            (selectionChange)="selectPackage($event,PackegeInfoForm.get('dimension'))"
                            placeholder="please select your package type">
                            <mat-option [value]="data.package_type" *ngFor="let data of packageslist"> {{data.package_name}}</mat-option>
                          </mat-select>
                        </form-field>
                      </div>
                    </div>
                    <div class="col-lg-4 ">
                      <div class="row">
                    <div class="col-lg-6 pr-3 ">
                      <label class="fw-5 font-14"
                        >Units
                        <!-- <span class="package"
                          ><img  matTooltip="Info about the action" 
                          matTooltipPosition="right"
                         aria-label="Button that displays a tooltip when focused or hovered over"
                            src="../../../../assets/images/tooltip-icon1.svg" /></span
                      > -->
                        </label>
                      <form-field [errorControl]="PackegeInfoForm.get('weightUnits')" name="weight unit">
                        <mat-select
                          formControlName="weightUnits"
                          class="form-control"
                          placeholder="Weight Unit"
                        >
                          <mat-option value="KG">KG</mat-option>
                          <mat-option value="LB">LBS</mat-option>
                        </mat-select>
                      </form-field>
                    </div>
                    <div class="col-lg-6 ">
                      <label class="fw-5 font-14"
                        >Weight
                        </label>
                        <!-- <span class="package"
                          ><img  matTooltip="Info about the action" 
                          matTooltipPosition="right"
                         aria-label="Button that displays a tooltip when focused or hovered over"
                            src="../../../../assets/images/tooltip-icon1.svg" /></span
                      > -->
                      <form-field [errorControl]="PackegeInfoForm.get('weight')" name="weight">
                        <input
                          type="text"
                          formControlName="weight" TwoDigitDecimaNumberDirective
                          maxlength="4"
                          placeholder="kg/Lbs"
                          class="form-control font-family"
                        />
                      </form-field>
                    </div>
                  </div>
                    </div>
                    
                      <div class="col-lg-2 pr-3">
                        <div formGroupName="dimension">
                          <label class="fw-5 font-14">Dimension Unit</label>
                          <form-field [errorControl]="PackegeInfoForm.get('dimension.unit')" name=" Dimension unit">
                            <mat-select
                              formControlName="unit"
                              (selectionChange)="changeDimensionUnit($event,PackegeInfoForm.get('dimension'))"
                              class="form-control"
                              placeholder="Dimension Unit"
                            >
                              <mat-option value="IN">Inch</mat-option>
                              <mat-option value="CM">CM</mat-option>
                            </mat-select>
                          </form-field>
                        </div>
                      </div>
    
                      <div class="col-lg-6 pr-3">
                        <div class="row" formGroupName="dimension">
                          <div class="col-lg-4 pr-3">
                            <div>
                              <label class="fw-5 font-14"
                                >Dimensions
                                <!-- <span class="package"
                                  ><img  matTooltip="Info about the action" 
                                  matTooltipPosition="right"
                                 aria-label="Button that displays a tooltip when focused or hovered over"
                                    src="../../../../assets/images/tooltip-icon1.svg" /></span
                              > -->
                            </label>
                              <!-- [disabled]="PackegeInfoForm.get('packageType')?.value !== 'YOUR_PACKAGING'" -->
                              <form-field [errorControl]="PackegeInfoForm.get('dimension.length')" name="length">
                                <input
                                  type="text"
                                  matInput
                                  formControlName="length"
                                  placeholder="Length"
                                  NumberInput
                                  class="form-control font-family"
                                />
                              </form-field>
                            </div>
                          </div>
                          
                          <div class="col-lg-4 pr-3">
                            <div>
                              <label class="fw-5 font-14 label-l">&nbsp;</label>
                              <form-field [errorControl]="PackegeInfoForm.get('dimension.width')" name="width">
                                <input
                                matInput
                                  type="text"
                                  placeholder="Width"
                                  [disabled]="PackegeInfoForm?.controls['packageType']?.value !='YOUR_PACKAGING'"
                                  NumberInput
                                  formControlName="width"
                                  class="form-control font-family"
                                  />
                                </form-field>
                              </div>
                          </div>
                          <div class="col-lg-4" *ngIf="
                          PackegeInfoForm.get('packageType')?.value !== 'FEDEX_ENVELOPE' &&
                          PackegeInfoForm.get('packageType')?.value !== 'FEDEX_PAK'
                        ">
                            <div>
                              <label class="fw-5 font-14 label-l">&nbsp;</label>
                              <form-field [errorControl]="PackegeInfoForm.get('dimension.height')" name="height">
                                <input
                                  type="text"
                                  matInput
                                  placeholder="Height"
                                  NumberInput
                                  formControlName="height"
                                  class="form-control font-family"
                                />
                              </form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="col-lg-4">
                      <div>
                        <label class="fw-5 font-14"
                          >Insurance Declared
                          <!-- <span class="package"
                            ><img  matTooltip="Info about the action" 
                            matTooltipPosition="right"
                           aria-label="Button that displays a tooltip when focused or hovered over"
                              src="../../../../assets/images/tooltip-icon1.svg" /></span
                        > -->
                      </label>
                        <div class="doller-img">
                          <span class="doller-icon"
                            ><img src="../../../../assets/images/doller.svg"
                          /></span>
                        </div>
                        <div class="doller-input">
                          <form-field [errorControl]="PackegeInfoForm.get('insuranceDeclared')" name="insurance">
                            <input
                              type="text"
                              formControlName="insuranceDeclared"
                              placeholder=""
                              NumberInput
                              maxlength="5"
                              class="form-control font-family"
                            />
                          </form-field>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div>
                        <label class="fw-5 font-14"
                          >Content Description
                          <!-- <span class="package"
                            ><img  matTooltip="Info about the action" 
                            matTooltipPosition="right"
                           aria-label="Button that displays a tooltip when focused or hovered over"
                              src="../../../../assets/images/tooltip-icon1.svg" /></span
                        > -->
                      </label>
                        <form-field class="text-field" [errorControl]="PackegeInfoForm.get('contentDescription')" name="description">
                          <textarea
                            class="form-control textarea"
                            formControlName="contentDescription"
                            placeholder="Content Description"
                            rows="3"
                          ></textarea>
                        </form-field>
                      </div>
                    </div>
                    
              </div>
            
            <!-- form array end (click)="addPackages()" -->
            <div class="justify-center my-5">
              <button
                class="theme-btn white-btn mr-2 back-red"
                routerLink="/client/packages"
              >
                Back
              </button>
              <button
                class="theme-btn red ml-2"
                (click)="addPackage()"
              >
                Save
              </button>
            </div>
          </form>
          </div>
        </div>   
      </div>
</section>
