<section class="bg-info">
    <div class="row justify-between-md-center">
        <div class="col-lg-3 col-sm-3 pl-2">
            <img class="img-logo1" src="../../../../assets/images/newLogo4.png" alt="" />
        </div>
        <div class="col-lg-6 col-sm-6 mt-3">
            <div class="text-center font-36 fw-6">Select  <span class="getStarted font-600">Card </span></div>
            <div class="text-center font-16 l-black">
                Please select your card to make payment
            </div>
        </div>
      
    </div>
    <div class="row justify-between-md-center pb-4 mt-3 padding-m">          
                <div class="col-lg-6 mt-2 offset-lg-3">                  
                        <div class="row">
                            <div class="col-lg-12 mt-2">
                                <div class="white-form-card1 my-cards-div">
                                    <div class="row">
                                        <div class="header-shippment">
                                            <div class="card-tag float-left">
                                                <p class="scondry-color">My Cards</p>
                                            </div>
                                            <div class="add-card float-right">
                                                <p routerLink="/client/add-shipment/addcards">+ Add New Card</p>
                                            </div>
                                        </div>
                                    </div>
                                    <mat-radio-group aria-label="Select an option">
                                        <div class="row mt-5 mb-5">
                                            <div class="col-lg-4">
                                                <section class="checbox-section cards">
                                                    <mat-radio-button value="1" class="card-mat">
                                                        <span>
                                                            <img class="card-img" src="../../../../assets/images/card-icon.svg" /><mat-icon class="mat-icon"><img src="../../../../assets/images/delete-icon.svg" /></mat-icon>
                                                        </span>
                                                    </mat-radio-button>
                                                </section>
                                            </div>
                                            <div class="col-lg-4">
                                                <section class="checbox-section cards">
                                                    <mat-radio-button value="1" class="card-mat">
                                                        <span>
                                                            <img class="card-img" src="../../../../assets/images/card-icon.svg" /><mat-icon class="mat-icon"><img src="../../../../assets/images/delete-icon.svg" /></mat-icon>
                                                        </span>
                                                    </mat-radio-button>
                                                </section>
                                            </div>
                                            <div class="col-lg-4">
                                                <section class="checbox-section cards">
                                                    <mat-radio-button value="3" class="card-mat">
                                                        <span>
                                                            <img class="card-img" src="../../../../assets/images/card-icon.svg" /><mat-icon class="mat-icon"><img src="../../../../assets/images/delete-icon.svg" /></mat-icon>
                                                        </span>
                                                    </mat-radio-button>
                                                </section>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                    <!-- <div class="col-lg-4">
                                            <section class="checbox-section cards">
                                                <mat-checkbox class="example-margin">
                                                    <span><img src="../../../../assets/images/cards.svg" /></span>
                                                </mat-checkbox>
                                            </section>
                                        </div> -->
            
                                    <div class="justify-center mt-4">
                                        <button class="theme-btn white-btn mr-2 back-red" routerLink="/client/add-shipment/addcards">Cancel</button>
                                        <button class="theme-btn red ml-2" routerLink="/client/add-shipment/paymentsuccesful">Confirm & Pay</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                
            </div>   
</section>
