<!-- <p>dashboard works!</p> -->
<app-client-dashboard-header [pageName]="pageName"></app-client-dashboard-header>
<!-- <app-Mailbox-dashbaord *ngIf="dashboardData"></app-Mailbox-dashbaord> -->
<div class="content" *ngIf="!dashboardData">
  <div class="inner-dashbaord">
    <div class="text-center font-14 pt-1">
      <div class="row main">
        <div class="main-card" (done)="onSkip()" joyrideStep="seventhStep" title="Create Shipments" [stepContent]="customShipContent"
        [stepContentParams]="{'name': 'Use this button to quickly start a shipment.'}" stepDefaultPosition="bottom"  >
          <div class="create-shipment-dash-color cw" routerLink="/client/add-shipment/sender-address">
            <div class="img-ship">
              <img src="../../../../assets/images/shipping-fast-dashboard.svg" />
            </div>
            <div class="shipment-div">
              <span>Create Shipments</span>
              <span class="font-12">Quick Access To Service Partners</span>
            </div>
          </div>
        </div>
        <ng-template #customShipContent let-cardone="name"> {{cardone}} </ng-template>
        <div class="main-card" (done)="onSkip()" joyrideStep="eighthStep" stepDefaultPosition="bottom" title="Past Shipments"
        [stepContent]="customShipContent"
        [stepContentParams]="{'name': 'Use this button to quickly view shipments you have created previously.'}" >
            <div  class="pervious-shipment-dash-color cw" routerLink="/client/shipments">
              <div class="img-ship">
                <img src="../../../../assets/images/pervious-dash.svg" />
              </div>
              <div class="shipment-div">
                <span>Previous Shipments</span>
                <span class="font-12">Quick Access To View Past Shipments</span>
              </div>
            </div>
        </div>
        <ng-template #customShipContent let-cardtwo="name"> {{cardtwo}} </ng-template>

        <div class="main-card" (done)="onSkip()" joyrideStep="ninthStep" stepDefaultPosition="bottom" title="Pending Shipments"
        [stepContent]="customShipContent"
        [stepContentParams]="{'name': 'Use this button to quickly filter out and see shipments that still need to be completed.'}" >
          <div class="draft-shipment-dash-color cw" routerLink="/client/shipments" [queryParams]="{ status: 'drafted' }">
            <div class="img-ship">
              <img src="../../../../assets/images/after-draft-click.svg" />
            </div>
            <div class="shipment-div">
              <span>Draft Shipments</span>
              <span class="font-12">Pay And Ship Now</span>
            </div>
          </div>
        </div>
        <ng-template #customShipContent let-cardthree="name"> {{cardthree}} </ng-template>
      </div>
      <div class="row">
        <div class="col-lg-7 graph-t">
          <div class="card saving white-form-card graph">
            <div class="d-flex dateFilter demo-title">
              <div class="countText"><span>Saving on shipments</span></div>
              <div class="d-flex date-box">
                <span>
                  <div class="countStartDate">
                    <div class="filter-date clender">
                      <input type="text" [value]="year" (click)="Year.open()" [(ngModel)]="year"
                        (dateChange)="getShipmentSavingChartData()" [matDatepicker]="Year" class="form-control"
                        [placeholder]="year || 'Year'" />
                      <img src="../../../../assets/images/calender.svg" (click)="Year.open()"
                        class="form-append mr-2" />
                      <!-- <img *ngIf="year" (click)="year = ''; getShipmentSavingChartData(); " src="../../../../assets/images/close-icon.svg" class="form-append mr-2" /> -->
                      <mat-datepicker (yearSelected)="chosenYearHandler($event, Year)" startView="multi-year"
                        #Year></mat-datepicker>
                    </div>
                    <!--  -->
                  </div>
                </span>
                <!-- <span>
                  <div class="countStartDate">
                    <div class="filter-date">
                      <input type="text" (dateChange)="getShipmentSavingChartDataBydate();" (click)="fromDatetDate.open()" [(ngModel)]="fromDate" [matDatepicker]="fromDatetDate" class="form-control"  placeholder="start Date"/>
                      <img *ngIf="!fromDate" src="../../../../assets/images/calender.svg" (click)="fromDatetDate.open()" class="form-append mr-2" />
                      <img *ngIf="fromDate" (click)="fromDate = ''; toDate = ''; getShipmentSavingChartDataBydate(); " src="../../../../assets/images/close-icon.svg" class="form-append mr-2" />
                      <mat-datepicker #fromDatetDate></mat-datepicker>
                    </div>
                  </div>
              </span> -->
              </div>
            </div>
            <div style="display: block; height: 292px">
              <canvas *ngIf="!isBarloading" baseChart [datasets]="barChartData" [labels]="mbarChartLabels"
                [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-5 graph-r">
          <div class="card saving white-form-card step-arrow">
            <div class="d-flex dateFilter">
              <div class="countText"><span>Total system usage</span></div>
              <div class="d-flex date-box">
                <span>
                  <div class="countStartDate">
                    <div class="filter-date clender">
                      <input type="text" (click)="startDate.open()" [(ngModel)]="starDate"
                        (dateChange)="getShipmentCountChartDataByDate()" [matDatepicker]="startDate"
                        class="form-control" placeholder="start Date" />
                      <img *ngIf="!starDate" src="../../../../assets/images/calender.svg" (click)="startDate.open()"
                        class="form-append mr-2" />
                      <img *ngIf="starDate" (click)="
                          starDate = '';
                          endDate = '';
                          getShipmentCountChartData()
                        " src="../../../../assets/images/close-icon.svg" class="form-append mr-2" />
                      <mat-datepicker #startDate></mat-datepicker>
                    </div>
                  </div>
                </span>
                <span class="mx-1">
                  <div class="countStartDate">
                    <div class="filter-date clender">
                      <input type="text" (click)="lastCountDate.open()" [disabled]="!starDate" [min]="starDate"
                        (dateChange)="getShipmentCountChartData()" [(ngModel)]="endDate" [matDatepicker]="lastCountDate"
                        class="form-control" placeholder="end Date" />
                      <img *ngIf="!endDate" src="../../../../assets/images/calender.svg" (click)="lastCountDate.open()"
                        class="form-append mr-2" />
                      <img *ngIf="endDate" (click)="endDate = ''; getShipmentCountChartData()"
                        src="../../../../assets/images/close-icon.svg" class="form-append mr-2" />
                      <mat-datepicker #lastCountDate></mat-datepicker>
                    </div>
                  </div>
                </span>
              </div>
            </div>
            <!-- {{doughnutChartDatasets[0]?.data !==[0,0,0] && !isloading | json}} -->
            <!-- {{doughnutChartDatasets[0]?.data | json}}  -->
            <div class="dounght">
              <div style="display: block; min-height: 292px; width: 292px">
                <canvas *ngIf="
                    (!isloading &&
                      this.shipmentCountChartData?.completed != '0') ||
                    this.shipmentCountChartData?.drafted != '0' ||
                    this.shipmentCountChartData?.total != '0'
                  " baseChart [datasets]="doughnutChartDatasets" [labels]="doughnutChartLabels" [legend]="true"
                  [type]="'doughnut'"></canvas>

                <!-- [options]="doughnutChartOptions" -->
                <!-- [colors]="donutColors" -->
                <div *ngIf="
                    !isloading &&
                    this.shipmentCountChartData?.completed == '0' &&
                    this.shipmentCountChartData?.drafted == '0' &&
                    this.shipmentCountChartData?.total == '0'
                  " class="noData">
                  <span>No data found</span>
                </div>
              </div>
              <div *ngIf="
                  (!!isloading &&
                    this.shipmentCountChartData?.completed != '0') ||
                  this.shipmentCountChartData?.drafted != '0' ||
                  this.shipmentCountChartData?.total != '0'
                " class="text_position">
                <p class="mb-1">{{ this.shipmentCountChartData?.total }}</p>
                <span>Total shipments</span>
              </div>
            </div>

            <!-- <img src="../../../../assets/images/shipment-graph-right.png"> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 delay1">
          <div class="delayed step-down">
            <div class="img-Delayed">
              <img src="../../../../.../../assets/images/delayed-icon.svg" />
              <span>Delayed</span>
            </div>
            <div class="number">
              <span>{{ dashboardStatus?.delayed }}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 delay2">
          <div class="exceptions">
            <div class="img-Delayed">
              <img src="../../../../.../../assets/images/exceptions-icon.svg" />
              <span>Exceptions</span>
            </div>
            <div class="number">
              <span>{{ dashboardStatus?.exception }}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 delay3">
          <div class="label-created">
            <div class="img-Delayed">
              <img src="../../../../.../../assets/images/label-created-icon.svg" />
              <span>Order Created</span>
            </div>
            <div class="number">
              <span>{{ dashboardStatus?.labelCreated }} </span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 delay4">
          <div class="early">
            <div class="img-Delayed">
              <img src="../../../../.../../assets/images/early-icon.svg" />
              <span>Cancelled</span>
            </div>
            <div class="number">
              <span>{{ dashboardStatus?.cancelled }}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 delay5">
          <div class="On-time">
            <div class="img-Delayed">
              <img src="../../../../.../../assets/images/on-time-icon.svg" />
              <span>On Time</span>
            </div>
            <div class="number">
              <span>{{ dashboardStatus?.onTime }}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 delay6">
          <div class="delivered">
            <div class="img-Delayed">
              <img src="../../../../.../../assets/images/delivery-complete-icon.svg" />
              <span>Delivered</span>
            </div>
            <div class="number">
              <span>{{ dashboardStatus?.delivered }}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 delay7">
          <div class="out-delivery">
            <div class="img-Delayed">
              <img src="../../../../.../../assets/images/Fast Shipping-icon.svg" />
              <span>Out For Delivery</span>
            </div>
            <div class="number">
              <span>{{ dashboardStatus?.outForDelivery }}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 delay7 padding-set">
          <div class="out-delivery">
            <div class="img-Delayed">
              <img src="../../../../.../../assets/images/Fast Shipping-icon.svg" />
              <span>In Transit</span>
            </div>
            <div class="number">
              <span>{{ dashboardStatus?.inTransit }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content" *ngIf="dashboardData">
  <div class="inner-dashbaord shipment-dashboard">
    <div class="row justify-center">
      <div class="col-lg-6 mt-3 text-center pt-1">
        <div class="text-center font-36 fw-6">
          No <span class="getStarted font-600">Shipment Data</span> Found
        </div>
        <div class="text-center font-14 l-black">
          Start Creating Shipments now
        </div>
      </div>
    </div>
    <div class="row justify-center">
      <div class="col-lg-5 justify-center">
        <div class="mt-4">
          <div class="">
            <div>
              <img width="100%" src="../../../../assets/images/ship-data.png" alt="" class="mail-img" />
            </div>
            <div class="justify-center mt-3 py-2">
              <button class="create-btn red ml-2" routerLink="../add-shipment">
                Create your first Shipments
                <span class="ship"><img src="../assets/images/shipping-fast.svg" /></span>
              </button>
              <div class="icon">
                <img src="../assets/images/address-book.svg" />
              </div>
            </div>
            <div class="font-12 text-center font-family color-black">
              Need assistance in process? Click the help or contact us buttons.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
