<div class="row">
  <div class="col-lg-12 justify-between-md-center pt-3">
    <div class="justify-between pr-3">
      <h3 class="font-16 font-500">Upload Scan Details</h3>
      <!-- <span *ngIf="this.userScanCount || this.userScanCount == 0"
        >Total scans count : {{ this.userScanCount }}</span> -->
    </div>
  </div>
</div>

<form class="" [formGroup]="form">
  <div class="row pt-2">
    <div class="col-lg-12 col-xl-12 pr-2">
      <div>
        <div class="g">
          <form-field [errorControl]="form.get('virtualId')" name=" mailbox id">
            <mat-select
              formControlName="virtualId"
              class="form-control"
              placeholder="Mailbox Address"
              >
              <!-- (selectionChange)="onUserChange($event)" -->
              <mat-option
                *ngFor="let item of MailboxList"
                [value]="item?.virtualId"
                >{{ item?.virtualId }}</mat-option
              >
            </mat-select>
          </form-field>
        </div>
        <div class="g">
          <form-field
            [errorControl]="form.get('labelOriginType')"
            name="let type"
          >
            <mat-select
              formControlName="labelOriginType"
              (selectionChange)="mailBoxTypeChange($event)"
              class="form-control"
              placeholder="Label type"
            >
              <mat-option value="mail">Mail</mat-option>
              <mat-option value="package">Package</mat-option>
            </mat-select>
          </form-field>
        </div>
        <div class="y" *ngIf="form.get('labelOriginType')?.value == 'package'">
          <form-field
            [errorControl]="form.get('storageDate')"
            name="storageDate"
          >
            <input
              (click)="picker.open()"
              type="text"
              readonly
              formControlName="storageDate"
              readonly
              [matDatepicker]="picker"
              class="form-control forgot-pass"
              [placeholder]="'storage Date'"
            />
            <mat-datepicker #picker></mat-datepicker>
          </form-field>
        </div>
      </div>
    </div>

    <div class="col-lg-12 col-xl-12 pr-2">
      <div>
        <div class="y">
          <form-field [errorControl]="form.get('labelLink')" name="label">
            <input
              type="text"
              formControlName="labelLink"
              readonly
              class="form-control forgot-pass"
              (click)="selectlabel.selectFile()"
              [placeholder]="uploadScan"
            />
            <img
              class="form-append"
              (click)="selectlabel.selectFile()"
              src="../../../../assets/images/admin/file-upload.svg"
              alt=""
            />
          </form-field>
        </div>
        <file-uploader #fileUploader="FileUploader"></file-uploader>
        <app-uploader-ui
          #selectlabel
          [fileUploader]="fileUploader"
          (afterUploadFile)="selectFile($event)"
        ></app-uploader-ui>
      </div>
      <div class="col-12 d-flex" *ngFor="let data of uploadedScans; let i=index">
        <span class="ImgLink">{{data}}</span><span class="imgDelete"><mat-icon (click)="removeScan(data)" class="deleteScans">delete</mat-icon></span>
      </div>
      <!-- <span class="font-12 font-500 text-danger">*label should be in jpeg/jpg/png format</span> -->
    </div>
  </div>
</form>

<div class="row justify-center">
  <div class="justify-center pt-3">
    <button
      type="button"
      class="theme-btn white-btn mr-2 back-red"
      (click)="this.dialogRef.close(false)"
    >
      Back
    </button>
    <button
      type="button"
      class="theme-btn red ml-2"
      [disabled]="isLoading"
      (click)="uploadLabel()"
    >
      Submit
    </button>
  </div>
</div>
