<app-client-dashboard-header [pageName]="'Trash'"></app-client-dashboard-header>
<div class="content">
    <div class="inner-dashbaord px-3 pt-3 pb-4">
        <!-- <div class="row d-none">
            <div class="col-lg-3 pr-2 serach d-none">
                <div>
                    <img src="../../../../assets/images/search.svg" class="searching-icon" />
                    <form-field>
                        <input type="text" placeholder="Searching..." class="form-control font-family" />
                    </form-field>
                </div>
            </div>
            <div class="col-lg-3 col-xl-2  pr-2">
                <div>
                    <img src="../../../../assets/images/fillter-date.svg" class="filter-icon" />

                    <div class="filter-date">
                        <input type="text" (click)="startDate.open()" readonly placeholder="Filter by Date" [matDatepicker]="startDate" class="form-control" />
                        <img class="form-append mr-2" (click)="startDate.open()" src="../../../../assets/images/arrow-down.svg" alt="" />
                        <mat-datepicker #startDate></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xl-2  pr-2">
                <div>
                    <img src="../../../../assets/images/fillter-date.svg" class="filter-icon" />
                    <div class="Filter-status">
                        <form-field>
                            <mat-select class="form-control filter-status1" placeholder="Filter by Expiry">
                                <mat-option>Inch</mat-option>
                                <mat-option>Ounce</mat-option>
                                <mat-option>Pond</mat-option>
                            </mat-select>
                        </form-field>
                    </div>
                </div>
            </div>
           
         </div> -->
      
       <div *ngIf="trashedList&& trashedList.length>0 && !isLoading">
        <div class="inbox-card-mailbox pb-4 mt-2" *ngFor="let data of trashedList; let i = index;">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="inbox-card">
                                <div class="inbox-img">
                                    <!-- <img [src]="data?.labelLink" /> -->
                                    <img *ngIf="getImageName(data?.labelLink) != 'pdf'"  [src]="data?.labelLink" />
                    <iframe class="iframeClass" *ngIf="getImageName(data?.labelLink) == 'pdf'" [src]="sanitizer.bypassSecurityTrustResourceUrl(data?.labelLink)"></iframe>
                                    <span class="zoom-icon">
                                        <img (click)="viewImg(data)" src="../../../../../assets/images/zoom-icon.svg">
                                    </span>  
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="main-inbox">
                                <div class="date-div">
                                    <span class="font-14">{{data?.updatedAt | date : "EEEE , MM-dd-YYYY"}}</span>
                                    <span class="font-12">Deleted On</span>
                                </div>
                                <div class="Unread ml-auto">
                                    <button class="btn in-Archived">In Trash</button>
                                </div>
                                <div class="downlaod-icon">
                                    <img src="../../../../../assets/images/download.svg" />
                                </div>
                            </div>
                            <div class="send-trash pt-5 mt-4 justify-md-center col-lg-6 offset-lg-3 text-center">
                                <p class="font-16 font-500">This item will be shred on: {{data?.inTrashdeletedDate | date : "EEEE , MM-dd-YYYY"}}</p>
                            </div>
                            <!-- <div class="send-trash pt-4 justify-center">
                                <button class="create-btn red ml-2" (click)="makeRequestChange(data)">Request to make a change</button>
                            </div> -->
                            <div class="last-updated pt-4">
                                <p class="ml-auto float-right font-12">Last Updated: {{data?.updatedAt | date : "EEEE , MM-dd-YYYY"}}</p>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
       </div> 
       <div class="col-lg-12 noRequest" *ngIf="trashedList&& trashedList.length==0 && !isLoading">
            <span> No Data found</span>
       </div>       
    </div>
</div>
