<app-admin-header
  [link]="'/admin/shipments'"
  [pageName]="'Shipments << Shipment Details'"
></app-admin-header>
<div class="row justify-content-md-center">
  <div class="col-lg-6 mt-3">
    <div class="text-center font-30 fw-6 shipment-id">
      Shipment ID <br /><span class="getStarted font-600">{{
        shipmentDetail?.uniqueId
      }}</span>
    </div>
  </div>
</div>
<div class="row justify-content-md-center pb-5">
  <div class="col-lg-4 mt-3">
    <div class="Card shippment-form-card pickup">
      <ul class="schedule-a">
        <li class="cursor1">Schedule a Pickup</li>
        <li class="cursor1">Drop Off at Ship District</li>
        <li class="cursor1" (click)="printLabel()">Print Label</li>
        <li class="cursor1" (click)="mailTo()">Email Label</li>
        <li class="cursor1">Create Return Label</li>
        <li class="cursor1" (click)="copyShipment()">Copy As New Shipment</li>
        <li class="cursor1" (click)="copyTrackingNo()">Copy Tracking Number</li>
        <li
          routerLink="/admin/shipments/viewShipment-detail/{{
            this.shipmentId
          }}"
          class="cursor1"
        >
          View Shipment Details
        </li>
      </ul>
    </div>
  </div>
</div>
