.text-center.mt-4.centerbutton {
    display: flex;
    justify-content: center;
}
.loader {
    background: blur;
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 10000;
    stroke: #f44336 !important;
  }
  .loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(235, 231, 231, 0.7);
    z-index: 9999;
    display: block !important;
  }