<!-- <p>dashboard works!</p> -->
<app-admin-header [pageName]="'Plan'"></app-admin-header>
<div class="d-none" [class.loading]="isloading">
  <mat-progress-spinner
    *ngIf="isloading"
    class="loader"
    [color]="'warn'"
    [mode]="'indeterminate'"
    [value]="'30'"
    stroke="f44336"
  >
  </mat-progress-spinner>
</div>
<div class="row pt-2 pb-2">
  <div class="col-lg-6 col-xl-3 pr-2 pl-2 padding-l"></div>
  <div class="col-lg-6 col-xl-3 justify-center pr-2 butn-display ml-auto">
    <button
      class="theme-btn orange ml-1 create-shipment"
      routerLink="/admin/addplan"
    >
      + Add Plan
    </button>
    <button (click)="addTopUp('')"
      class="theme-btn orange mx-2 create-shipment"
    >
      + Add TopUp
    </button>
  </div>
</div>
<div class="content">
  <div class="inner-dashbaord pt-3 mb-3 pb-4">
    <div class="shippment-form-card">
      <div class="text-center font-36 fw-6">
        <span class="getStarted font-600">Mailbox Plans </span>
      </div>
      <div class="text-center radioButton">
        <mat-radio-group
          aria-label="Select an option"
          (change)="planTypeChange($event)"
          [(ngModel)]="planType"
        >
          <mat-radio-button
            [checked]="planType == 'monthly'"
            color="warn"
            class="mx-2"
            value="monthly"
            >Monthly</mat-radio-button
          >
          <mat-radio-button
            [checked]="planType == 'annually'"
            color="warn"
            class="mx-2"
            value="annually"
            >Annual</mat-radio-button
          >
          <mat-radio-button
            [checked]="planType == 'topUp'"
            color="warn"
            class="mx-2"
            value="topUp"
            >Scans</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div
        class="row justify-between-md-center pb-4"
        *ngIf="PlansData && PlansData.length > 0 && !isloading"
      >
        <div class="col-lg-12 mt-3 pl-3">
          <div class="row" *ngIf="planType !== 'topUp'">
            <div class="col-lg-4 mt-2 mb-5" *ngFor="let item of PlansData; let i = index">
              <div class="p-2 top-margin">
                <div class="cardHeight" [class.annual]="planType == 'annually'" [ngClass]="{'card_red':i==0,'card_gray':i==1,'card_Warn':i==2,'card_red1':i==3,'card_gray1':i==4,'card_Warn1':i==5}">
                <!-- <div class="cardHeight"  [ngClass]="{'annualRed':i==0,'annualGray':i==1,'annualWarn':i==2,'annualRed1':i==3,'annualGray1':i==4,'annualWarn1':i==5}"> -->
                  <h5 class="text-center m-0 p-1 py-3">{{ item?.planName| titlecase }}</h5>
                  <div class="sub-item">
                    <img *ngIf="item?.isPopular"
                      class="most-img"
                      src="assets/images/mostpop.svg"
                      alt=""
                    />
                    <img *ngIf="i==0 || i==1 || i==2" [src]="i==0?'assets/images/mailred.svg':i==1?'assets/images/mailGray.svg':'assets/images/mailWarn.svg'" alt="" />
                    <img *ngIf="i==3 || i==4 || i==5" [src]="i==3?'assets/images/mailred.svg':i==4?'assets/images/mailGray.svg':'assets/images/mailWarn.svg'" alt="" />
                    <img *ngIf="i>5" [src]="'assets/images/mailred.svg'" alt="" />
                    <div class="dots-icon">
                      <mat-icon class="threeDot" [matMenuTriggerFor]="menu" >more_horiz</mat-icon>
                      <mat-menu xPosition="after" #menu="matMenu">
                        <button
                          class="font-10 mat-menu-item"
                          routerLink="/admin/editplan/{{ item?.id }}"
                        >
                          Edit
                        </button>
                        <button
                          class="font-10 mat-menu-item"
                          (click)="deletePlan(item?.id)"
                        >
                          Delete
                        </button>
                        <button
                          class="font-10 mat-menu-item"
                          (click)="AddToPopular(item)"
                        >
                         {{item?.isPopular?'Remove From Popular': 'Add To Most Popular'}}
                        </button>
                      </mat-menu>
                    </div>
                    <h4>$ <span class="text_price">{{ item?.planPrice }}</span>/<span
                      class="font-14"
                      >{{ item?.validity == "monthly" ? "Month" : "Year" }}</span
                    ></h4>
                    <p>Scan Count Mail & Packages: <strong>{{ item?.scanCount }}</strong></p>
                    <h5>Included With Mailbox Address</h5>
                    <ul>
                      <li><mat-icon class="checkList">check</mat-icon>Physical Street Address</li>
                      <li><mat-icon class="checkList">check</mat-icon>Mail & Package Scans</li>
                      <li><mat-icon class="checkList">check</mat-icon>Unlimited Recipients</li>
                      <li><mat-icon class="checkList">check</mat-icon>Mail Shredding</li>
                      <li><mat-icon class="checkList">check</mat-icon>Junk Mail Filtering</li>
                      <li><mat-icon class="checkList">check</mat-icon>Mail Consolidation When Forwarded</li>
                    </ul>
                    <h5>Additional Fees</h5>
                    <ul class="addFee">
                      <li><mat-icon class="checkList addIcon">add</mat-icon>
                        Package Receiving: 5 free, then <strong>${{ item?.additionalFee?.packageReceiving }}</strong> each additional, per
                        month
                      </li>
                      <li><mat-icon class="checkList addIcon">add</mat-icon>
                        Package Consolidation: <strong>${{ item?.additionalFee?.packageConsolidation }}</strong> per consolidation, additional
                        charges may apply
                      </li>
                      <li><mat-icon class="checkList addIcon">add</mat-icon>
                        Overweight (50+ Pounds) / Oversized (Length + Width +
                        Height is greater than or equal to 50) Package:<strong> ${{item?.additionalFee?.overWeight}}</strong> per  package
                      </li>
                      <li><mat-icon class="checkList addIcon">add</mat-icon>Mail Storage (After 30 days): <strong>${{ item?.additionalFee?.mailStorage }}</strong> per day</li>
                      <li><mat-icon class="checkList addIcon">add</mat-icon>Package Storage (After 3 days): <strong>${{ item?.additionalFee?.packageStorage }}</strong> per day</li>
                      <li><mat-icon class="checkList addIcon">add</mat-icon>
                        Forward Mail & Packages: <strong>Standard carrier rates applied</strong>
                      </li>
                      <li><mat-icon class="checkList addIcon">add</mat-icon>
                        Pallet Receiving: <strong>${{item?.additionalFee?.palletReceiving}}</strong>
                      </li>
                      <li><mat-icon class="checkList addIcon">add</mat-icon>
                        Pallet Storage (After 3 Days): <strong>${{item?.additionalFee?.palletStorage}}</strong> per day
                      </li>
                    </ul>
                    <h5>Penalty Fees</h5>
                    <ul class="penFee">
                      <li class="penalty">
                        Wrong Address (Missing/Incorrect Assigned Address): <strong>${{item?.penaltyFee?.wrongAddress }}</strong>
                      </li>
                      <li class="penalty">
                        Late (Every week an Additional Fee is not paid): <strong>${{item?.penaltyFee?.late}}</strong> 
                      </li>
                      <li class="penalty">
                        Reinstatement (15 Days Non-payment of Mailbox Address
                        Fee): <strong>${{ item?.penaltyFee?.reinstatement }}</strong>
                         
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="planType == 'topUp'">
            <div class="col-lg-4 mt-5" *ngFor="let item of PlansData; let i = index">
              <div class="p-2">
                <div class="" [ngClass]="{'card_red':i==0,'card_gray':i==1,'card_Warn':i==2,'card_red1':i==3,'card_gray1':i==4,'card_Warn1':i==5}">
                  <h5 class="text-center m-0 p-1 py-3">{{item?.planName| titlecase }}</h5>
                  <div class="sub-item">
                    <img *ngIf="item?.isPopular"
                      class="most-img"
                      src="assets/images/mostpop.svg"
                      alt=""
                    />
                    <img *ngIf="i==0 || i==1 || i==2" [src]="i==0?'assets/images/mailred.svg':i==1?'assets/images/mailGray.svg':'assets/images/mailWarn.svg'" alt="" />
                    <img *ngIf="i==3 || i==4 || i==5" [src]="i==3?'assets/images/mailred.svg':i==4?'assets/images/mailGray.svg':'assets/images/mailWarn.svg'" alt="" />
                    <img *ngIf="i>5" [src]="'assets/images/mailred.svg'" alt="" />
                    <div class="dots-icon">
                      <mat-icon class="threeDot" [matMenuTriggerFor]="menu" >more_horiz</mat-icon>
                      <mat-menu xPosition="after" #menu="matMenu">
                        <button
                          class="font-10 mat-menu-item"
                          (click)="addTopUp(item)"
                        >
                          Edit
                        </button>
                        <button
                          class="font-10 mat-menu-item"
                          (click)="deletePlan(item?.id)"
                        >
                          Delete
                        </button>
                        <button
                          class="font-10 mat-menu-item"
                          (click)="AddToPopular(item)"
                        >
                         {{item?.isPopular?'Remove From Popular': 'Add To Most Popular'}}
                        </button>
                      </mat-menu>
                    </div>
                    <h4>$ <span class="text_price">{{ item?.planPrice }}</span></h4>
                    <p>Scan Count Mail & Packages: {{ item?.scanCount}}</p>
                    <h5>Included With Mailbox Address</h5>
                    <ul>
                      <li><mat-icon class="checkList">check</mat-icon>Physical Street Address</li>
                      <li><mat-icon class="checkList">check</mat-icon>Mail & Package Scans</li>
                      <li><mat-icon class="checkList">check</mat-icon>Unlimited Recipients</li>
                      <li><mat-icon class="checkList">check</mat-icon>Mail Shredding</li>
                      <li><mat-icon class="checkList">check</mat-icon>Junk Mail Filtering</li>
                      <li><mat-icon class="checkList">check</mat-icon>Mail Consolidation When Forwarded</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <p class="pt-4 choose">
              Choosing a scan plan will add more scans to your current Mailbox
              Address Plan. Other features of your current Mailbox Address Plan,
              will remain the same.
            </p>
          </div>
        </div>
      </div>
      <div class="noData" *ngIf="PlansData && PlansData.length == 0 && !isloading">
        <span>No Plan Found</span>
      </div>
    </div>
  </div>
</div>
