<div class="font-20 fw-6 text-center mb-3">Create Invoice</div>
<form class="" [formGroup]="invoiceForm">
  <label class="font-14">User</label>
  <form-field [errorControl]="invoiceForm.get('userId')" name="user">
    <mat-select
      placeholder="select user"
    (selectionChange)="selectUser($event);invoiceForm.get('accountType')?.setValue('')"
      class="form-control"
      formControlName="userId"
    >
      <mat-option [value]="item?.id" *ngFor="let item of userList">{{
        item?.name
      }}</mat-option>
    </mat-select>
  </form-field>
  <label class="font-14">User account type</label>
  <form-field [errorControl]="invoiceForm.get('accountType')" name="account type">
    <mat-select [disabled]="!invoiceForm.get('userId')?.value"
      placeholder="select user's account"
      class="form-control"
      formControlName="accountType"
    >
      <mat-option value="shipment" *ngIf="selectedUser?.accountType == 'shipment' ||selectedUser?.accountType == 'both' ">Shipment</mat-option>
      <mat-option value="mailbox" *ngIf="selectedUser?.accountType == 'virtualMailBox' ||selectedUser?.accountType == 'both' ">Mailbox</mat-option>
    </mat-select>
  </form-field>
  <label class="font-14">Amount</label>
  <form-field [errorControl]="invoiceForm.get('amount')" name="amount">
    <span class="form-prefix cursor"> $</span>
    <input
      type="text"
      Separator
      formControlName="amount"
      class="form-control forgot-pass"
      placeholder="Amount"
    />
  </form-field>
  <label class="font-14">Reason</label>
  <form-field [errorControl]="invoiceForm.get('reason')" name="reason">
    <textarea
      placeholder="Reason"
      class="form-control"
      rows="4"
      id="comment"
      formControlName="reason"
    ></textarea>
  </form-field>
</form>
<div class="text-center mt-4 centerbutton">
  <button
    type="button"
    class="theme-btn white-btn mr-2 back-red"
    (click)="dialogRef.close(false)"
  >
    Cancel
    <mat-spinner
      [diameter]="18"
      class="ml-2"
      [strokeWidth]="1"
      *ngIf="isLoading"
    ></mat-spinner>
  </button>
  <button type="button" class="theme-btn red" (click)="submit()">
    Create Invoice
    <mat-spinner
      [diameter]="18"
      class="ml-2"
      [strokeWidth]="1"
      *ngIf="isLoading"
    ></mat-spinner>
  </button>
</div>
